<div id=<%= "entity_type_#{entity_type.id}" %> class="entity-type-container">
  <%= image_tag(entity_type.icon.image.icon.url, { class: 'entity_type_icon' }) %>
  <h2><%= entity_type.name.pl %></h2>
  <%= render partial: 'today_and_tomorrow/entity_block', collection: entity_type.entities, as: :entity %>
</div>
