<div id="occupation-container">
</div>

<script type="text/template" id="occupationContainerTemplate">
	<div class="occupation-container">
	  <div class="control-container clearfix">
		  <div style="float: left;">
		    <a id="previous" class="button"><i class="icon-chevron-left"></i></a>
		    <a id="current" class="button"><span class="year"><%=t('.current_year') %></span><span class="month"><%=t('.current_month') %></span></a>
		    <a id="next" class="button"><i class="icon-chevron-right"></i></a>
		  </div>
	    <div style="float: right;">
	    		<%= select_month(Date.today, { field_name: 'current_month' }) %>
	    		<%= select_year(Date.today, { field_name: 'current_year' }) %>
	    </div>
	  </div>
	  <div class="top-axis clearfix">
	  	<p class="axis-part-name clearfix"></p>
	  </div>
	  <div class="entity-axis"></div>
	  <div class="occupation-matrix-body"></div>
	</div>
</script>

<script type="text/template" id="entityRowTemplate">
	<div class="entity-row">
	  <img class="entity-icon" />
	</div>
</script>

<script type="text/template" id="occupationMatrixRowTemplate">
	<div class="occupation-matrix-row clearfix"></div>
</script>

<script type="text/template" id="entityRowTitleTemplate">
	<div class="entity-row-title clearfix"><p class="entity-name"></p></div>
</script>

<script type="text/template" id="occupationMatrixBlockTemplate">
	<div class="occupation-matrix-block">
		<p class="percent"></p>
	</div>
</script>

<script type="text/template" id="topAxisFrameTemplate">
	<div class="top-axis-frame"><p class="nr"></p></div>
</script>
