<div id=<%= "entity_#{entity.id}" %> class="entity-container">
<p class="entity-name"><%= entity.name %></p>
<p class="entity-description">sdfkldsjfglertgnx,mcv d fdf ,mv  sdfg,. mesrgomvf   sadfogvk mosdfv,o o s sdo fg m</p>

<div class="entity-info"></div>
  <div class="progress-bar blue stripes">
    <span style="width: 40%"></span>
  </div>
</div>