<div id="<%= "entity_#{entity.id}" %>" class="entity-container">
<p class="entity-name" style="<%= "color: #{entity.text_color}; background-color: #{entity.color};" %>"><%= entity.name %></p>
<p class="entity-description closed">sdfkldsjfglertgnx,mcv d fdf ,mv  sdfg,. mesrgomvf   sadfogvk mosdfv,o o s sdo fg m</p>

<div class="entity-info"></div>
  <div class="progress-bar blue stripes">
    <span style="width: 40%"></span>
  </div>
</div>