<div class="result-icon">
  <i class="icon-time"></i>
</div>
<div class="extra-controls">
	<%= render partial: 'reservations/status_controls', locals: { reservation: result, extra_css_class: 'mini' } %>
</div>
<div class="info clearfix">
	<div class="column">
		column 1
	</div>
	<div class="column">
		column 2
	</div>
	<div class="column">
		column 3
	</div>
</div>