<% content_for :page_title do %><%= t('.title_html', query: @tag_query.ucfirst) %><% end %>

<% if @taggables.empty? %>
<p><%= t('.empty', default: :empty_objects, classes: t('.results')) %></p>
<% else %>

<div id="results">
  <%= render partial: 'result', collection: @taggables %>
</div>
<%= paginate(@raw_results) %>
<% end %>
