.field
  = f.label :business_client
  = f.check_box :business_client, class: 'business-client-toggle'
.field.private-client
  = f.label :first_name
  = f.text_field :first_name
.field.private-client
  = f.label :infix
  = f.text_field :infix
.field.private-client
  = f.label :last_name
  = f.text_field :last_name
.field.business-client
  = f.label :company_name
  = f.text_field :company_name
