<%= form_for([@organisation, @organisation_client]) do |f| %>
  <%= render 'shared/error_messages', target: @organisation_client %>
  <%= render 'form_fields' %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>