.clearfix
  .organisation-client-fields
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :infix
      = f.text_field :infix
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.email_field :email
    .field
      = f.label :phone
      = f.text_field :phone
    .field
      = f.label :mobile_phone
      = f.text_field :mobile_phone
    .field
      = label_tag(:addresspicker, OrganisationClient.human_attribute_name(:address))
      = text_field_tag(:addresspicker, nil, placeholder: t('.search_address'))
    .auto-address-fields
      = link_to('', 'javascript:;', id: 'edit-auto-address-fields', class: 'icon icon-edit action-button', title: t('.edit_address'))
      .field
        = f.label :route
        = f.text_field :route, readonly: true, class: 'addresspicker-route'
      .field
        = f.label :street_number
        = f.text_field :street_number, readonly: true, class: 'addresspicker-street-number'
      .field
        = f.label :locality
        = f.text_field :locality, readonly: true, class: 'addresspicker-locality'
      .field
        = f.label :administrative_area_level_2
        = f.text_field :administrative_area_level_2, readonly: true, class: 'addresspicker-administrative-area-level-2'
      .field
        = f.label :administrative_area_level_1
        = f.text_field :administrative_area_level_1, readonly: true, class: 'addresspicker-administrative-area-level-1'
      .field
        = f.label :postal_code
        = f.text_field :postal_code, readonly: true, class: 'addresspicker-postal-code'
      .field
        = f.label :country
        = f.text_field :country, readonly: true, class: 'addresspicker-country'
      = f.hidden_field :address_type, class: 'addresspicker-address-type'
      = f.hidden_field :lng, class: 'addresspicker-lng'
      = f.hidden_field :lat, class: 'addresspicker-lat'

  #addresspicker-map.address-map
    img.ajax-wait
