#documents-container.nested-form.clearfix
  = f.fields_for :documents, wrapper: false do |df|
    = render 'documents/document_fields', f: df

= f.link_to_add '', :documents, data: { target: '#documents-container' }, class: 'icon icon-plus action-button add-nested-object', title: t('add_nested_object', class: Document.model_name.human.lcfirst)
