<div class="reservation-rule">
  <div class="actions">
    <%= icon_link_to_edit([@organisation, owner, reservation_rule_scope, reservation_rule]) %>
    <%= icon_link_to_destroy([@organisation, owner, reservation_rule_scope, reservation_rule]) %>
  </div>
  <%= reservation_rule.inspect %>
</div>
