<% content_for :page_title do %>
<%= show_title(@real_time_full_screen) %>
<% end %>

<ul id="realtime-list">
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <table class="reservation-dates">
            <tr class="datebox from">
              <td class="from">
                <span>van</span>
              </td>
              <td class="day">
                <span>wo</span>
              </td>
              <td class="date">
                <span>1 apr 2013</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
            <tr class="datebox until">
              <td class="until">
                <span>tot</span>
              </td>
              <td class="day">
                <span>wo</span>
              </td>
              <td class="date">
                <span>2 okt 2013</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
          </table>
          <div class="wayfinding">
            <i class="symbol-up"></i>
          </div>
        </div>
      </div>
      <h2>Supervette voorstelling</h2>
      <div class="availability available">Nog <strong>2</strong> plaatsen beschikbaar</div>
      <div class="object">Grote zaal</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <table class="reservation-dates">
            <tr class="datebox from">
              <td class="from">
                <span>van</span>
              </td>
              <td class="date today" colspan="2">
                <span>vandaag</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
            <tr class="datebox until">
              <td class="until">
                <span>tot</span>
              </td>
              <td class="day">
                <span>wo</span>
              </td>
              <td class="date">
                <span>23 nov 2013</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
          </table>
          <div class="wayfinding">
            <i class="symbol-ladies"></i>
          </div>
        </div>
      </div>
      <h2>Vergadering van een bank</h2>
      <div class="object">Vergaderzaal</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <table class="reservation-dates">
            <tr class="datebox from">
              <td class="from">
                <span>van</span>
              </td>
              <td class="day">
                <span>wo</span>
              </td>
              <td class="date">
                <span>1 dec 2013</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
            <tr class="datebox until">
              <td class="until">
                <span>tot</span>
              </td>
              <td class="day-empty"></td>
              <td class="date-empty"></td>
              <td class="time">
                <span>23:00</span>
              </td>
            </tr>
          </table>
          <div class="wayfinding">
            <i class="symbol-stairs-up"></i>
          </div>
        </div>
      </div>
      <h2>Pianoles</h2>
      <div class="object">Zaal 1</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner">
          <table class="reservation-dates">
            <tr class="datebox from">
              <td class="from">
                <span>van</span>
              </td>
              <td class="date today">
                <span>vandaag</span>
              </td>
              <td class="time">
                <span>22:00</span>
              </td>
            </tr>
            <tr class="datebox until">
              <td class="until">
                <span>tot</span>
              </td>
              <td class="date-empty"></td>
              <td class="time">
                <span>23:00</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="wayfinding">
          <i class="symbol-up-right"></i>
        </div>
      </div>
      <h2>Borrel</h2>
      <div class="availability not-available">Geen plaatsen beschikbaar</div>
      <div class="object">Foyer</div>
    </div>
  </li>
</ul>