<% content_for :page_title do %>
<%= show_title(@real_time_full_screen) %>
<% end %>

<ul id="realtime-list">
  <li>
    <div class="inner clearfix">
      <div class="info-container">
        <div class="inner clearfix">
          <div class="reservation-dates clearfix">
            <div class="datebox from">
              <div class="day">
                <span>wo</span>
              </div>
              <div class="date">
                <span>23 november 2013</span>
              </div>
              <div class="time">
                <span>22:00</span>
              </div>
            </div>
            <div class="datebox until">
              <div class="day">
                <span>wo</span>
              </div>
              <div class="date">
                <span>23 november 2013</span>
              </div>
              <div class="time">
                <span>22:00</span>
              </div>
            </div>
          </div>
          <div class="wayfinding">
            <i class="symbol-down"></i>
          </div>
        </div>
      </div>
      <h2>Object 3</h2>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="reservation-dates clearfix">
        <div class="datebox from">
          <div class="day">
            <span>wo</span>
          </div>
          <div class="date">
            <span>23 november 2013</span>
          </div>
          <div class="time">
            <span>22:00</span>
          </div>
        </div>
        <div class="datebox until">
          <div class="day">
            <span>wo</span>
          </div>
          <div class="date">
            <span>23 november 2013</span>
          </div>
          <div class="time">
            <span>22:00</span>
          </div>
        </div>
      </div>
      <h2>Object 3</h2>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="reservation-dates clearfix">
        <div class="datebox from">
          <div class="day">
            <span>wo</span>
          </div>
          <div class="date">
            <span>23 november 2013</span>
          </div>
          <div class="time">
            <span>22:00</span>
          </div>
        </div>
        <div class="datebox until">
          <div class="day">
            <span>wo</span>
          </div>
          <div class="date">
            <span>23 november 2013</span>
          </div>
          <div class="time">
            <span>22:00</span>
          </div>
        </div>
      </div>
      <h2>Object 3</h2>
    </div>
  </li>
</ul>