<% content_for :page_title do %>
<%= show_title(@real_time_full_screen) %>
<% end %>

<ul id="realtime-list">
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <div class="wayfinding">
            <i class="symbol-arrow-up"></i>
          </div>
          <div class="reservation-dates-wrapper">
            <table class="reservation-dates">
              <tr class="datebox from">
                <td class="from">
                  <span><i class="icon-time"></i></span>
                </td>
                <td class="date">
                  <span class="day">wo</span><span>1 apr 2013</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
              <tr class="datebox until">
                <td class="until">
                  <span><i class="icon-raceflag"></i></span>
                </td>
                <td class="date">
                  <span class="day">wo</span><span>2 okt 2013</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h2>Supervette voorstelling</h2>
      <div class="availability available">Nog <strong>9</strong> plaatsen beschikbaar</div>
      <div class="object">Grote zaal</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <div class="wayfinding">
            <i class="symbol-escalator-up"></i>
          </div>
          <div class="reservation-dates-wrapper">
            <table class="reservation-dates">
              <tr class="datebox from">
                <td class="from">
                  <span><i class="icon-time"></i></span>
                </td>
                <td class="date today">
                  <span>vandaag</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
              <tr class="datebox until">
                <td class="until">
                  <span><i class="icon-raceflag"></i></span>
                </td>
                <td class="date">
                  <span class="day">wo</span><span>23 nov 2013</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h2>Vergadering van een bank</h2>
      <div class="object">Vergaderzaal</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <div class="wayfinding">
            <i class="symbol-escalator-down"></i>
          </div>
          <div class="reservation-dates-wrapper">
            <table class="reservation-dates">
              <tr class="datebox from">
                <td class="from">
                  <span><i class="icon-time"></i></span>
                </td>
                <td class="date">
                  <span class="day">wo</span><span>1 dec 2013</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
              <tr class="datebox until">
                <td class="until">
                  <span><i class="icon-raceflag"></i></span>
                </td>
                <td class="date">
                  <span class="day">wo</span><span>1 dec 2013</span>
                </td>
                <td class="time">
                  <span>23:00</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h2>Pianoles</h2>
      <div class="object">Zaal 1</div>
    </div>
  </li>
  <li>
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner">
          <div class="wayfinding">
            <i class="symbol-elevator-up"></i>
          </div>
          <div class="reservation-dates-wrapper">
            <table class="reservation-dates">
              <tr class="datebox from">
                <td class="from">
                  <span><i class="icon-time"></i></span>
                </td>
                <td class="date today">
                  <span>vandaag</span>
                </td>
                <td class="time">
                  <span>22:00</span>
                </td>
              </tr>
              <tr class="datebox until">
                <td class="until">
                  <span><i class="icon-raceflag"></i></span>
                </td>
                <td class="date today">
                  <span>vandaag</span>
                </td>
                <td class="time">
                  <span>23:00</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h2>Borrel</h2>
      <div class="availability not-available">Geen plaatsen beschikbaar</div>
      <div class="object">Foyer</div>
    </div>
  </li>
</ul>