<div class="field">
  <%= f.hidden_field :property_type_id %>
  <%= f.label :value, f.object.property_type.name, title: format_description_title(f.object.property_type) %>
  <%= f.text_field :value, title: format_description_with_name_title(f.object.property_type) %>
</div>