<% content_for :page_title do %>
<%= index_title(DayOccupation) %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var occupationView = new IADAoccupationView({container: 'occupation-container', backend_url: '<%= organisation_occupation_path(@organisation) %>', view: 'dayOccupation'});
  });
</script>

<div class="occupation-container">
</div>