<% content_for :page_title do %>
<%= index_title(WeekOccupation) %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      var occupationView = new IADAoccupationView({container: 'occupation-container', backend_url: '<%= organisation_occupation_path(@organisation) %>', view: 'weekOccupation'});
  });
</script>

<div class="occupation-container">
</div>

<div class="occupation-templates" style="display:none;">
	<div id="entityRowTemplate">
		<div class="entity-box">
		</div>
		<div class="occupation-matrix-row">
		</div>
	</div>
</div>