.fields.reservation-recurrence-definition-wrapper
  .field
    = f.label :repeating
    = f.check_box :repeating
  .recurrence_definition_fields
    .field
      = f.label :repeating_unit
      = f.select :repeating_unit_id, ReservationRecurrenceDefinition.repeating_units.map { |tu| [tu.human_repetition_name, tu.id, { data: { key: tu.key } }] }, { prompt: true }, data: { field: 'repeating-unit' }
    .field.recurrence_definition_weekly
      = f.label :repeating_weekdays
      .repeating_weekdays_selector.clearfix
        = f.collection_check_boxes :repeating_weekdays, ReservationRecurrenceDefinition.repeating_weekdays_choices, :key, :human_name, {}, { class: 'nocwic' }
    .field.recurrence_definition_monthly
      = f.label :repeating_monthdays
      .repeating_monthdays_selector.clearfix
        = f.collection_check_boxes :repeating_monthdays, ReservationRecurrenceDefinition.repeating_monthdays_choices, :key, :value, {}, { class: 'nocwic' }
    .field
      = f.label :repeating_every
      = f.select :repeating_every, (1..30)
      span#repeating_every_unit_day.repeating_every_unit
        = t('.repeating_every_unit_days')
      span#repeating_every_unit_week.repeating_every_unit
        = t('.repeating_every_unit_weeks')
      span#repeating_every_unit_month.repeating_every_unit
        = t('.repeating_every_unit_months')
      span#repeating_every_unit_year.repeating_every_unit
        = t('.repeating_every_unit_years')
    .field
      = f.label :repeating_end
      .repeating_end_options.clearfix
        .field
          = f.radio_button(:repeating_end, :until, checked: true)
          = f.label :repeating_end_until, ReservationRecurrenceDefinition.human_attribute_name(:repeating_until)
          = f.text_field :repeating_until, class: 'datepicker-field'
        .field
          = f.radio_button(:repeating_end, :instances)
          = f.label :repeating_end_instances, ReservationRecurrenceDefinition.human_attribute_name(:repeating_instances)
          = f.number_field :repeating_instances, min: 0
