div.field,
div.actions {
  margin-bottom: 10px;
}

.ui-widget {
  font-family: inherit;
  font-size: 1em;
}

.ui-widget-content,
.ui-widget-header {
  color: inherit;
}

.field span.field-prefix {
  margin-right: 10px;
}

.field span.field-suffix {
  margin-left: 10px;
}

label.validation-error {
  color: #ff3520;
}

input.validation-warning, select.validation-warning, textarea.validation-warning, .select2-container.validation-warning, input.validation-warning.replaced + div div.inner {
  border: 2px solid #ff8d20 !important;
}

input.validation-error, select.validation-error, textarea.validation-error, .select2-container.validation-error, input.validation-error.replaced + div div.inner {
  // Validation-error is defined later so it takes precedence over warnings
  border: 2px solid #ff3520 !important;
}

div.field-with-example-wrapper {
  display: inline-block;
  p {
    font-size: 90%;
    font-style: italic;
    margin: 0;
    padding: 0;
  }
}

input[type="submit"],
input[type="reset"],
button,
.button {
  font-family: 'Clear Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  display: inline-block;
  position: relative;
  width: auto;
  border: 0 none;
  background-color: #1c9cb2;
  color: #fff;
  padding: 0.8em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 9999px; /* 1.5em */
  line-height: normal;
  transition: 0.2s ease-in-out;
  &:before, i {
    margin: 0 0.4em 0 0;
    vertical-align: middle;
  }
  &:hover, &:active, &.active {
    color: #1c9cb2;
  }
  &:hover {
    background-color: #eee;
  }
  &:active, &.active {
    background-color: #ddd;
  }
  &.active {
    box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
  }
  &.grey {
    background-color: #666;
    font-weight: normal;
    &:hover, &:active, &.active {
      color: #666;
    }
    &:hover {
      background-color: #eee;
    }
    &:active, &.active {
      background-color: #ddd;
    }
  }
  &.blue {
    background-color: #1c9cb2;
    font-weight: normal;
    &:hover, &:active, &.active {
      color: #1c9cb2;
    }
    &:hover {
      background-color: #eee;
    }
    &:active, &.active {
      background-color: #ddd;
    }
  }
  &.green {
    background-color: #18c13d;
    font-weight: bold;
    &:hover, &:active, &.active {
      color: #18c13d;
    }
    &:hover {
      background-color: #eee;
    }
    &:active, &.active {
      background-color: #ddd;
    }
  }
  &.red {
    background-color: #ff3520;
    font-weight: normal;
    &:hover, &:active, &.active {
      color: #ff3520;
    }
    &:hover {
      background-color: #eee;
    }
    &:active, &.active {
      background-color: #ddd;
    }
  }
  &[data-method="delete"] {
    @extend .button.red;
  }
}

input, textarea, select {
  font-family: 'Clear Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1em;
  border: 1px solid #cccccc;
  padding: 0.8em;
  margin: 0;
  width: 15em;
  transition: border-color 0.2s;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
}

input, textarea {
  color: #222;
  &:focus {
    border-color: #999;
  }
}

input {
  &[type="number"] {
    width: 6em;
  }
  &[type="number"] {
    &.price {
      width: 10em;
    }
  }
  &[type="file"],
  &[type="checkbox"] {
    width: auto;
  }
  &[type="checkbox"] {
    vertical-align: middle;
    margin: 0.5em 0 0;
    border: 0 none;
  }
  &[type="submit"] {
    @extend input[type="submit"].green;
  }
  &::-moz-focus-inner {
    border: 0 none;
    padding: 0;
  }
}

textarea {
  width: 30em;
  height: 10em;
}

select {
  width: auto;
}

label {
  display: inline-block;
  width: 10em;
  padding: 0.8em 0.5em 0.8em 0;
  margin: 1px 0;
  line-height: normal;
  vertical-align: top;
  font-weight: 500;
  &.required {
    &:after {
      content: " *";
      color: #1c9cb2;
    }
  }
}

.multiple-edit-form {
  input:first-child + .cwic-checkbox, input:first-child + .cwic-radio-button {
    vertical-align: top;
    + label {
      vertical-align: top;
    }
  }
}

fieldset.inline-fieldset {
  display: inline-block;
  border: 0 none;
  padding: 0;
  margin: 0;
}

div.field-with-clear {
  display: inline-block;
}

div.field-with-clear {
  input {
    border-right: 0 none;
    margin-right: 0;
  }

  span {
    font-family: "Clear Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 1em;
    display: inline-block;
    color: #fff;
    background-color: #FF3520;
    padding: .8em .6em;
    border: 1px solid #ccc;
    margin: 0 5px 0 -1px;
    line-height: normal;
    border-left: 0 none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, transparent 60%);
    box-sizing: border-box;
  }

  span {
    &:hover {
      background-color: #ff4a37;
    }
  }
}

div.field-with-clear {
  > input.validation-error {
    border: 2px solid #ff3520;
    border-right: 0 none;
  }

  > input.validation-error + span {
    border: 2px solid #ff3520;
    border-left: 0 none;
  }
}

.minicolors-theme-default .minicolors-input {
  height: auto;
}

.timepicker-field {
  width: 5em;
  margin-left: 15px;
  margin-right: 5px;
}

.datepicker-field {
  width: 8em;
  margin-right: 5px;
}
