html {
  background: #eee;
}

body {
  color: #444;
  font-size: 80%;
  font-family: 'Clear Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  line-height: 200%;
}

::selection {
  background-color: #1c9cb2;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 1.5em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  &.title-box {
    line-height: 1em;
    display: inline-block;
    box-shadow: 0 1px 15px rgba(0,0,0, .2);
    border: 1px solid #e6301d;
    border-radius: 5px;
    background: #ff3520;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0, .6);
    margin: 20px 10px 0;
    padding: 20px 25px;
    text-align: left;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 1em;
    margin: 0 0.5em 0 0;
    color: #1c9cb2;
  }
}

h1 {
  font-weight: 300;
  font-size: 2.8em;
  margin: 0;
  padding: 1.2em 40px;
  line-height: 120%;
}

h1 {
  strong {
    font-weight: bold;
    color: #ff3520;
  }
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2m;
}

h6 {
  font-size: 1.1em;
}

img {
  border: 0;
}

a {
  color: #ff3520;
  text-decoration: underline;
  background-color: transparent;
}

a {
  &:hover {
    color: #ff3520;
    text-decoration: none;
  }

  > img {
    display: block;
  }
}

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
}

.help {
  position: relative;
  margin: 0.5em 0;
  padding: 0;
}

.help {
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.2em;
    line-height: 130%;
    margin: 0;
    color: #17889d;
    cursor: help;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    &:hover + p {
      display: block;
    }
  }
}

span.help {
  display: inline-block;
  vertical-align: middle;
}

dl {
  display: block;
  margin: 20px 0;
  padding: 0;
}

dl {
  dt, dd {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: bold;
    &:after {
      display: inline;
      content: ':';
    }
  }

  dd {
    + dt {
      margin-top: 10px;
    }
  }
}

#under-local-menu {
  flex: 0 0 auto;
  padding: 0 1.5%;
  background-color: #fff;
}

.content-columns {
  margin: 0 0 0 -20px;
}

.content-columns {
  .content-column {
    width: 100%;
    min-width: 33em;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
  }

  .content-column {
    .content-block {
      border: 5px solid #eee;
      background-color: #fff;
      padding: 30px;
      margin-bottom: 20px;

      h1, h2, h3, h4, h5, h6 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

html.flexbox {
  .content-columns {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }

  .content-columns {
    .content-column {
      width: auto;
      float: none;
      flex: 1 1 100%;
    }
  }
}

@for $i from 2 through 10 {
  .content-columns[data-column-count="#{$i}"] {
    .content-column {
      width: 100% / $i;
    }
  }

  html.flexbox {
    .content-columns[data-column-count="#{$i}"] {
      .content-column {
        width: auto;
        flex-basis: 100% / $i;
      }
    }
  }
}

#note-template + .content-columns {
  margin-right: 420px;
}

.progress-bar {
  background-color: #6dbfce;
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  animation: animate-stripes-30 1.5s linear 0 infinite normal;
}

div.images-container {
  a {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    margin: 10px;
    outline: none;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  }
  a {
    img {
      border: 5px solid #fff;
    }
  }
}

div.ajax-wait {
  background-image: image-url('ajax_wait.gif');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#confirm {
  a.button {
    min-width: 50px;
    margin: 10px;
    float: right;
    text-align: center;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  &.action-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 13px !important;
    color: #fff !important;
    background-color: #1c9cb2;
    padding: 0.5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 9999px; /* 50% */
    transition: 0.2s;

    &:hover, &:active {
      color: #1c9cb2 !important;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #ddd;
    }

    &.icon-remove {
      background-color: #ff3520;
    }

    &.icon-remove {
      &:hover, &:active {
        color: #ff3520 !important;
      }

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #ddd;
      }
    }

    &.icon-ok {
      background-color: #18c13d;
    }

    &.icon-ok {
      &:hover, &:active {
        color: #18c13d !important;
      }

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #ddd;
      }
    }
  }
}
