@import 'shared/imports/iada-wayfinding';
@import 'shared/imports/whhg';

.icon {
  text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
  font-size: 14px;
  &.red {
    &:before {
      color: #ff3520;
    }
  }
  &.blue {
    &:before {
      color: #1c9cb2;
    }
  }
  &.green {
    &:before {
      color: #18c13d;
    }
  }
}

.button [class^="icon-"], button [class^="icon-"],
.button [class*=" icon-"], button [class*=" icon-"],
.button[class^="icon-"]:before, button[class^="icon-"]:before,
.button[class*=" icon-"]:before, button[class*=" icon-"]:before {
  font-size: inherit;
}

div#reservation-form {
  div.entity-selector {
    div.selected-entity {
      @extend .icon-time;
      &.available {
        @extend .icon-ok;
      }
      &.warning-available {
        @extend .icon-warning-sign;
      }
      &.unavailable {
        @extend .icon-remove;
      }
      &:before {
        @extend [class^="icon-"];
      }
    }
  }
}

.cwic-checkbox.checked > .inner {
  @extend .icon-ok;
  &:before {
    @extend [class^="icon-"];
  }
}

.cwic-filefield {
  @extend .icon-file;
  &:before {
    @extend [class^="icon-"];
  }
}

.select2-container .select2-choice .select2-arrow {
  @extend .icon-chevron-down;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="new"] {
  @extend .icon-circleadd;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="destroy"] {
  @extend .icon-remove;
  &:before {
    @extend [class^="icon-"];
  }
}

.modal .close {
  @extend .icon-remove;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="edit"] {
  @extend .icon-edit;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="index"] {
  @extend .icon-list;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="show"] {
  @extend .icon-eye-view;
  &:before {
    @extend [class^="icon-"];
  }
}

button.new-sticky {
  @extend .icon-stickynote;
  &:before {
    @extend [class^="icon-"];
  }
}

.nav a.with-errors {
  @extend .icon-warning-sign;
  &:before {
    @extend [class^="icon-"];
  }
}
