div.table-container {
  display: inline-block;
  position: relative;
  padding-top: 30px;
}

div.table-container {
  .pagination {
    float: left;
    margin: 20px 0;
    &:first-child {
      margin-top: 10px;
    }
  }
  form#limiting {
    float: right;
    margin-bottom: 20px;
  }
  table {
    clear: both;
  }
}

table {
  background-color: #fdfdfd;
  border: 5px solid #eee;
  margin: 20px 0;
  border-collapse: collapse;
  max-width: 100%;
}

table {
  &.multiple-edit {
    margin-bottom: 0;
  }

  .sortable-header-buttons {
    display: inline-block;
    white-space: nowrap;
  }

  thead {
    background-color: #eee;
  }

  tr {
    &:nth-child(even) {
      background-color: #f6f6f6;
    }

    &.highlight {
      border: 1px solid #1c9cb2;
      background-color: rgba(109, 191, 206, .3);
    }

    &.separate {
      border-top: 1px solid #888;
    }

    &.separate:first-child {
      border-top: none;
    }
  }

  td,
  th {
    padding: 6px 10px;
    .cwic-checkbox {
      padding: 0;
    }
  }

  td {
    &.icons {
      white-space: nowrap;
    }
    &.icons {
      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 18px;
        margin-left: 18px;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  th {
    font-weight: 500;
    font-size: 1.1em;
  }
}

div.multiple-edit-controls {
  margin-bottom: 20px;
}

div.multiple-edit-controls {
  span.multiple-edit {
    margin: 0 20px 0 0;
  }

  input {
    margin: 0 10px;
    padding: 0;
    color: #ff3520;
    text-decoration: underline;
    background: transparent;
  }

  input {
    &:hover {
      color: #ff3520;
      background: transparent;
      text-decoration: none;
    }
  }
}

a.sortable-header-button {
  text-decoration: none;
  color: #444;
  opacity: 0.5;
}

a.sortable-header-button {
  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  i {
    font-size: 0.8em;
  }
}

i.table-warning-icon {
  color: #e59812;
  font-size: 1.5em;
}
