.fields.nested-object-wrapper data-valid=(f.object.persisted? && f.object.valid?)
  .view.clearfix
    .horizontal-block.icon.icon-resize-vertical.sort-handle title=t('order_nested_object', classes: EntityTypeOption.model_name.human(count: 2).lcfirst)
    .field.horizontal-block.name
      .label
        = EntityTypeOption.human_attribute_name(:name)
      .value data-field="name"
        = format_text(f.object.name)
    .field.horizontal-block.description
      .label
        = EntityTypeOption.human_attribute_name(:description)
      .ellipsis
        .value data-field="description"
          = format_text(f.object.description)
    .horizontal-block.extra
      dl
        dt
          = EntityTypeOption.human_attribute_name(:amount_relevant)
        dd data-field="amount-relevant"
          = format_bool(f.object.amount_relevant)
        dt
          = EntityTypeOption.human_attribute_name(:default_price)
        dd data-field="default-price"
          = format_text(f.object.default_price)
    .actions
      = link_to '', 'javascript:void(0)', class: 'icon icon-edit action-button', title: t('edit_nested_object', class: EntityTypeOption.model_name.human.lcfirst)
      = f.link_to_remove '', class: 'icon icon-remove action-button', title: t('remove_nested_object', class: EntityTypeOption.model_name.human.lcfirst), data: { confirm: t('are_you_sure') }
  .form.clearfix
    .field.horizontal-block.name
      = f.text_field :name, placeholder: EntityTypeOption.human_attribute_name(:name), title: EntityTypeOption.human_attribute_name(:name), data: { field: 'name' }
    .field.horizontal-block.description
      = f.text_area :description, placeholder: EntityTypeOption.human_attribute_name(:description), title: EntityTypeOption.human_attribute_name(:description), data: { field: 'description' }
    .horizontal-block.extra
      .field
        = f.label :amount_relevant
        = f.check_box :amount_relevant, data: { field: 'amount-relevant' }
      .field
        = f.label :default_price
        = f.text_field :default_price, data: { field: 'default-price' }
    .actions
      = link_to '', 'javascript:void(0)', class: 'icon icon-ok action-button', title: t('done_nested_object', class: EntityTypeOption.model_name.human.lcfirst)
      = link_to '', 'javascript:void(0)', class: 'icon icon-remove action-button remove-nested-fields-extra', title: t('remove_nested_object', class: EntityTypeOption.model_name.human.lcfirst)
  = f.hidden_field :index, class: 'index-field'
