<div class="fields document">
  <% if doc.id %>
    <%= link_to(organisation_document_path(current_organisation, doc), target: :_blank) do %>
      <%= render partial: 'documents/document_tile_link_content', locals: { doc: doc } %>
    <% end %>
  <% else %>
    <%= render partial: 'documents/document_tile_link_content', locals: { doc: doc } %>
  <% end %>

  <%= form.link_to_remove '', class: 'icon icon-remove action-button', title: t('remove_nested_object', class: Document.model_name.human.lcfirst) if defined?(form) %>
</div>
