- if documents.empty?
  p = t('.empty', default: :empty_objects, models: Document.model_name.human(count: 2).lcfirst)

- else
  = render partial: 'documents/document_overview', collection: documents, as: :document
