div class="status-selector #{local_assigns[:extra_css_class]}" data-reservation-id=reservation.id
  .statuses
    - reservation.entity.reservation_statuses.order(:position).each do |status|
      = content_tag(:a, status.name, { class: 'button status-button' + (reservation.status == status ? ' active' : ''), style: 'background-color: ' + status.color + '; color: ' + Cwic::Color.text_color(status.color) + ';', data: { :'status-id' => status.id } } )

  p.saved-notification
    = t('.saved')
