- unless tags.empty?
  .tag-list.clearfix
    .tag-list-label
      = t('tags')
    - tags.each do |tag|
      = link_to(tag.name.ucfirst, organisation_search_tag_search_path(current_organisation, params: { tag_query: tag.name }), title: t('search_for_tag', { tag: tag.name }), class: 'tag' )
