html, body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 3em;
}

h1 strong {
  color: #fff;
}

ul.feature-list {
  display: block;
  list-style-type: none;
  margin: 0 0 -0.8em 0;
  padding: 0;
}

ul.feature-list {
  li {
    display: block;
    position: relative;
    margin: 0 0 0.8em 0;
    padding: 0 0 0 2.34em;
    border-left: 4px solid transparent;
    text-indent: -2.34em;
  }
  li {
    i.list-icon {
      text-indent: 0;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      border: 2px solid #18c13d;
      color: #18c13d;
      width: 2em;
      height: 2em;
      margin: 0 1em 0 -4px;
      line-height: 2em;
      text-align: center;
      font-size: 0.78em;
      border-radius: 9999px;
    }
  }
}

#logo-container {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 40px;
}

#logo-container-inner {
  position: relative;
  display: block;
  width: 416px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  width: 100%;
}

.newsletter-signup {
  text-align: center;
}

.newsletter-signup {
  > .inner {
    display: inline-block;
    background-color: #fff;
    padding: 1.5em;
    margin: 0 1.5em;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, .5);
    max-width: 33em;
  }

  > .inner {
    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      padding: 0;
      margin: 1.5em 0;
    }

    form {
      .field {
        margin: 0 -1.5em -1em 0;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;
      }

      .field {
        input {
          margin: 0 1.5em 1em 0;
          flex: 1 1 auto;
        }
        input {
          &:last-child {
            flex: 0 0 auto;
          }
        }
      }
    }
  }
}

.onepage-scroll {
  height: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 200%;
}

.onepage-scroll {
  > section {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: margin-top 0.3s;
    box-sizing: border-box;
    padding-bottom: 3%;
    margin-top: -3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  > section {
    &:first-child {
      margin-top: 0;
    }

    &.intro-section-home,
    &.intro-section-last {
      background-color: #eee;
    }

    &.intro-section-home {
      position: relative;
      z-index: 0;
    }

    &.intro-section-home {
      .background-slider {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
      }

      .background-slider {
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        > div {
          &:before {
            z-index: 1;
            background-color: rgba(250,236,242,.25);
            background-position: center center;
          }

          &:after {
            display: block;
            content: ' ';
            background-color: rgba(#1c9cb2,.75);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 150%;
            margin-bottom: 3%;
            transform: rotate(-15deg);
            transform-origin: 100% 100%;
            z-index: 1;
          }
        }
      }
    }

    &.intro-section-home .background-slider > div:before,
    div.image-section > div:after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    div.home-text-section {
      position: relative;
    }

    div.home-text-section {
      .intro-actions {
        position: absolute;
        top: 50%;
        left: 70%;
        width: 60%;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10em 0;
      }

      .home-intro-text {
        padding: 5%;
        width: 40%;
        box-sizing: border-box;
        color: #fff;
        text-shadow: 0 0 0.5em rgba(0,0,0,.3);
        font-size: 1.1em;

        a {
          color: #fff;
        }
      }
    }

    div.text-section,
    div.image-section {
      overflow: hidden;
      top: 0;
    }

    div.text-section {
      padding: 5%;
      box-sizing: border-box;
      padding-right: 55%;
    }

    div.text-section {
      > h2 {
        margin-top: 0;
        font-size: 2.2em;
        font-weight: 300;
      }
      > h2 {
        strong {
          font-weight: bold;
          color: #ff3520;
        }
      }
    }

    div.image-section {
      width: 48%;
      background-color: #fff;
      position: absolute;
      right: 2%;
      top: 3%;
      height: 88.25%;
      z-index: 0;
      border-radius: 20px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }

    div.image-section {
      .cycle-prev,
      .cycle-next {
        display: block;
        position: absolute;
        top: 25%;
        bottom: 25%;
        z-index: 999;
        width: 5%;
        min-width: 2em;
        cursor: pointer;
        background-color: #1c9cb2;
        color: #fff;
        opacity: 0;
        transition: 0.2s;
        box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
      }

      .cycle-prev,
      .cycle-next {
        &:before {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.1em;
        }

        &:hover {
          background-color: #fff;
          color: #1c9cb2;
        }
      }

      .cycle-prev {
        left: 0;
        border-radius: 0 9999px 9999px 0;
      }

      .cycle-next {
        right: 0;
        border-radius: 9999px 0 0 9999px;
      }

      &:hover {
        .cycle-prev,
        .cycle-next {
          opacity: 1;
        }
      }

      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 0 0;
        background-color: #fff;
      }

      &:after {
        display: block;
        content: '\a0';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: rgba(250, 236, 242, 0.15);
        z-index: 998;
      }
    }

    &:nth-child(even) div.image-section {
      right: auto;
      left: 2%;
    }

    &:nth-child(even) div.text-section {
      padding-right: 5%;
      padding-left: 55%;
    }

    &.intro-section-home .background-slider > div,
    div.image-section > div {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.intro-section-last {
      min-height: 0;
      padding: 5em 2em;
      background-color: #fff;
    }

    &.intro-section-last {
      .intellectual-property {
        position: absolute;
        padding: 0.5em 0.8em;
        left: 0;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: 0.9em;
        color: #999;
      }
    }
  }
}

table.features-comparison {
  table-layout: fixed;
  width: 100%;

  th, td {
    text-align: center;
  }
}

.intro-sign-up,
.intro-go-to-app,
.intro-sign-in,
.intro-sign-out {
  text-align: center;
}

.intro-sign-up,
.intro-go-to-app,
.intro-sign-in,
.intro-sign-out {
  .button {
    section.intro-section-home & {
      box-shadow: 0 0 0.8em rgba(0,0,0,.5);
    }
  }
}

.intro-sign-up,
.intro-go-to-app {
  .button {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.intro-sign-in,
.intro-sign-out {
  margin-top: 2em;
}

@media (max-aspect-ratio: 1/1) {
  .onepage-scroll > section {
    div.image-section {
      height: 200px;
      height: 50vh;
      width: 100%;
      top: 0;
    }

    div.text-section,
    &:nth-child(even) div.text-section {
      position: relative;
      width: 100%;
      padding: 5%;
    }

    div.text-section,
    &:nth-child(even) div.text-section {
      &:before {
        display: block;
        content: '.';
        height: 200px;
        height: 50vh;
        width: 100%;
      }
    }
  }
}
