= form_tag({}, method: :get, id: 'limiting') do
  = select_tag(limit_key, options_for_select([5, 10, 25, 50, 100], params[limit_key] || Kaminari.config.default_per_page))
  = params_to_hidden_fields(limit_key, page_key)
