= form_for(@intro_section) do |f|
  = render 'shared/error_messages', target: @intro_section

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :background_color
    = f.text_field :background_color
  .field
    = f.label :image
    - if @intro_section.image.present?
      .intro_section-image
        = image_tag(@intro_section.image.thumb.url)
      .field
        label
          = t('.remove_icon')
        = f.check_box :remove_image
  .field
    = f.label :remote_image_url
    = f.text_field :remote_image_url
  .field
    = f.label :image_from_file
    = f.file_field :image
  = f.hidden_field :image_cache

  .actions
    = f.submit
