<section style="background-color: <%= intro_section.background_color %>;">
  <div class="text-section">
    <h2><%= intro_section.title %></h2>
    <div class="intro-section-body"><%= intro_section.body %></div>
  </div>
  <div class="image-section" style="background-image: url('<%= intro_section.image.url %>')"></div>
</section>
