 <section>
  <div id="logo-container">
    <div id="logo-container-inner">
      <img src="<%= asset_path('logo.png') %>" class="logo" />
    </div>
  </div>
 </section>
  <% @intro_sections.each do |intro_section| %>
    <%= render partial: 'intro_sections/section', locals: {intro_section: intro_section} %>
  <% end %>
