<% content_for :page_title do %><%= show_title(@info_screen) %><% end %>
<div id="info-screen-container" data-info-screen-id="<%= @info_screen.id %>" data-websocket="<%= request.host %>:<%= request.port %>/websocket">
  <div class="info-screen-header clearfix" style="display: none;">
    <div class="current-time"></div>
  </div>
  <ul id="realtime-list">

  </ul>
</div>


<div id="info-screen-templates" style="display: none;">
  <li id="listItemTemplate" class="infoScreenListItem">
    <div class="inner clearfix">
      <div class="info-container clearfix">
        <div class="inner clearfix">
          <div class="wayfinding">
            <i class=""></i>
          </div>
          <div class="reservation-dates-wrapper">
            <table class="reservation-dates">
              <tr class="datebox from">
                <td class="from">
                  <span><i class="icon-time"></i></span>
                </td>
                <td class="date">
                  <span class="day"></span><span class="day-full"></span>
                </td>
                <td class="time">
                  <span></span>
                </td>
              </tr>
              <tr class="datebox until">
                <td class="until">
                  <span><i class="icon-raceflag"></i></span>
                </td>
                <td class="date">
                  <span class="day"></span><span class="day-full"></span>
                </td>
                <td class="time">
                  <span></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <h2></h2>
      <div class="availability" style="display: none;"></div>
      <div class="object"></div>
    </div>
  </li>
</div>
