#feedback-templates style="display: none;"
  #feedbackTextTemplate.feedback-text
    = render 'feedbacks/modal_text'

  #feedbackReviewTemplate.feedback-review
    = render 'feedbacks/modal_review'

  #feedbackStatusTemplate.feedback-status
    = render 'feedbacks/modal_status'
