.showcase.galery {
  .block {
    background-color: #fff;
    float: left;
    width: 24%;
    box-sizing: border-box;
    margin: 1% .5%;
    padding: 1em;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  }

  .block {
    .object-image {
      border: 1px solid #eee;
    }

    .object-image {
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
}
