.replaced,
select.replaced,
input[type="radio"].replaced,
input[type="checkbox"].replaced {
  display: none;
}

input[type="file"].replaced {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.select2-container-active,
.select2-dropdown-open,
.select2-drop,
.cwic-dropdown:focus,
.cwic-dropdown.open .cwic-dropdown-options {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  outline: none;
}

.cwic-dropdown, .cwic-filefield {
  position: relative;
  font-family: 'Clear Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1em;
  border: 1px solid #cccccc;
  padding: 0.8em;
  margin: 0;
  width: 15em;
  transition: border-color 0.2s;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  line-height: normal;
  display: inline-block;
  background-color: #fff;
}

.cwic-dropdown {
  padding: 0;
  vertical-align: bottom;
  text-align: left;
  &::-moz-selection {
    background-color: transparent;
    color: inherit;
  }
  &::selection {
    background-color: transparent;
    color: inherit;
  }
  &.open, &:focus, .cwic-dropdown-options {
    border: 1px solid #999;
    height: auto;
  }
  .cwic-dropdown-options {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: #fff;
    width: 100%;
    z-index: 200;
    overflow: hidden;
    height: 0;
    border: 0 none;
    &:hover {
      .cwic-dropdown-current-option {
        &:before {
          color: #1c9cb2;
        }
      }
    }
    .cwic-dropdown-current-option {
      border: 0 none;
      background-color: #fff;
    }
  }
  .cwic-dropdown-current-option,
  .cwic-dropdown-option {
    padding: 0.8em 2em 0.8em 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
  }
  .cwic-dropdown-option {
    &:hover {
      background-color: #f3f3f3;
      color: #17889D;
    }
    &.selected {
      background-color: #1c9cb2;
      color: #fff;
    }
  }
  .cwic-dropdown-current-option {
    position: relative;
    text-align: center;
    &:before {
      display: block;
      font-size: 0.7em;
      line-height: 0.7em;
      height: 0.7em;
      position: absolute;
      top: 50%;
      right: 0.9em;
      margin-top: -0.35em;
      transition: transform 0.3s;
    }
    &:hover:before {
      color: #1c9cb2;
    }
  }
  &.open {
    .cwic-dropdown-current-option:before {
      transform: rotate(-180deg);
    }
    .cwic-dropdown-options {
      display: block;
      height: auto;
      border: 1px solid #999;
    }
  }
  &.autosubmit-busy {
    .cwic-dropdown-current-option {
      &:before {
        content: '\0a';
        color: #fff;
        background-image: image-url('ajax_wait.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        margin-top: -1em;
        transform: none;
        transition: none;
      }
    }
  }
}

.cwic-checkbox,
.cwic-radio-button {
  display: inline-block;
  padding: 0.8em 0;
  margin: 1px 0;
  vertical-align: middle;
  &:focus {
    outline: none;
    > .inner {
      border-color: #999;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }
  }
  > .inner {
    width: 14px;
    height: 14px;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    background-color: #fff;
    position: relative;
  }
  + label {
    vertical-align: baseline;
  }
}

.cwic-checkbox {
  &.checked {
    > .inner {
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -0.5em;
        margin-top: -0.63em;
        color: #1c9cb2;
        height: 14px;
        width: 14px;
        line-height: 14px;
        font-size: 14px;
        padding: 0;
      }
    }
  }
}

.cwic-radio-button {
  position: relative;
  margin: 5px;
  &.checked {
    > .inner {
      &:before {
        content: '.';
        font-size: 1px;
        line-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background-color: #1c9cb2;
        color: #1c9cb2;
        border-radius: 5px;
      }
    }
  }
  > .inner {
    border-radius: 7px;
  }
}

.cwic-filefield {
  padding: 0.8em 0.8em 0.8em 34px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
  &:before {
    display: block;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 6px;
    margin-top: -12px;
  }
  &:after {
    content: '.';
    color: #fff;
    display: inline;
    font-size: 1em;
  }
  &:hover {
    &:before {
      color: #1c9cb2;
    }
  }
  &.filled {
    &:before {
      color: #18c13d;
    }
  }
}

.select2-container {
  .select2-choice {
    background: #fff;
    filter: none;
    color: inherit;
    border-radius: 0;
    border: 1px solid #ccc;
    height: auto;
    line-height: normal;
    padding: 0.8em 0 0.8em 0.8em;
    &.select2-default {
      color: inherit !important;
    }
    > .select2-chosen {
      text-align: center;
    }
    .select2-arrow {
      background: transparent;
      filter: none;
      width: 26px;
      border: 0 none;
      border-radius: 0;
      color: inherit;
      &:before {
        display: block;
        font-size: 0.7em;
        line-height: 0.7em;
        height: 0.7em;
        position: absolute;
        top: 50%;
        right: 0.9em;
        margin-top: -0.35em;
        transition: transform 0.3s;
      }
      b {
        display: none;
      }
    }
  }
  &:hover, &.select2-dropdown-open {
    .select2-choice {
      .select2-arrow {
        &:before {
          color: #1c9cb2;
        }
      }
    }
  }
  &.select2-dropdown-open {
    .select2-choice {
      border-radius: 0;
      .select2-arrow {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
    &.select2-drop-above {
      .select2-choice, .select2-choices {
        border-top: 0;
        background-image: none;
        filter: none;
        border-color: #999;
      }
    }
  }
  &.select2-container-active {
    .select2-choice, .select2-choices {
      box-shadow: none;
      outline: none;
      border-color: #999;
    }
  }
}

.select2-drop {
  border-radius: 0;
  color: inherit;
  &.select2-drop-above {
    border-radius: 0;
    border-color: #999;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    border-top: 0 none;
    &.select2-drop-active {
      border-color: #999;
    }
  }
  .select2-search {
    input {
      background: image-url('select2.png') no-repeat scroll 100% -22px #fff;
      filter: none;
      border-color: #999;
      font-family: inherit;
      &.select2-active {
        background-image: image-url('ajax_wait.svg');
        background-size: 17px 17px;
        background-repeat: no-repeat;
        background-position: right 2px center;
        filter: none;
      }
    }
  }
  .select2-results {
    margin: 0;
    padding: 5px 0 0 0;
    .select2-highlighted {
      background: #1c9cb2;
      filter: none;
    }
    .select2-no-results, .select2-searching, .select2-selection-limit {
      background: transparent;
      filter: none;
      font-size: 0.9em;
      padding: 0 7px;
    }
  }
}

.select2-dropdown-open .select2-choice,
.select2-drop {
  border-color: #999;
}