.replaced,
select.replaced,
input[type="checkbox"].replaced {
  display: none;
}

input[type="file"].replaced {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.dropdown, .cwic-filefield {
  position: relative;
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1em;
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0;
  width: 15em;
  transition: border-color 0.2s;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  line-height: normal;
  display: inline-block;
  background-color: #fff;
}
  
.dropdown {
  padding: 0;
  vertical-align: bottom;
  text-align: left;
  
  .dropdown-current-option {
    &:before {
      display: block;
      font-size: 10px;
      line-height: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      right: 8px;
      margin-top: -5px;
      transition: transform 0.3s;
    }
    &:hover:before {
      color: #1c9cb2;
    }
  }
  .dropdown-options:hover .dropdown-current-option:before {
    color: #1c9cb2;
  }
  &.open .dropdown-current-option:before {
    transform: rotate(-180deg);
  }
}

.select2-container .select2-choice .select2-arrow {
  color: inherit;
  &:before {
    display: block;
    font-size: 10px;
    line-height: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -5px;
    transition: transform 0.3s;
  }
}

.dropdown.autosubmit-busy .dropdown-current-option:before {
  content: '.';
  color: #fff;
  background-image: image-url("ajax_wait.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  transform: none;
  transition: none;
}

.dropdown ::-moz-selection {
  background-color: transparent;
  color: inherit;
}

.dropdown ::selection {
  background-color: transparent;
  color: inherit;
}

.dropdown.open .dropdown-options {
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border: 1px solid #999;
  height: auto;
}

.dropdown .dropdown-options .dropdown-current-option {
  border: 0 none;
  background-color: #fff;
}

.dropdown .dropdown-current-option, 
.dropdown .dropdown-option {
  padding: 8px 26px 8px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown .dropdown-current-option {
  position: relative;
  text-align: center;
}

.dropdown .dropdown-options {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #fff;
  width: 100%;
  z-index: 200;
  overflow: hidden;
  height: 0;
  border: 0 none;
}

.dropdown.open .dropdown-options {
  display: block;
}

.dropdown .dropdown-option:hover {
  background-color: #f3f3f3;
  color: #17889D;
}

.dropdown .dropdown-option.selected {
  background-color: #1c9cb2;
  color: #fff;
}

.cwic-checkbox {
  display: inline-block;
  padding: 9px 0;
  vertical-align: middle;
}

.cwic-checkbox > .inner {
  width: 15px;
  height: 15px;
  border: 1px solid #bbb;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.cwic-checkbox.checked > .inner:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.75em;
  color: #1c9cb2;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  padding: 0;
}

.cwic-filefield {
  padding: 8px 8px 8px 34px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
}

.cwic-filefield:before {
  display: block;
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -12px;
}

.cwic-filefield:after {
  content: '.';
  color: #fff;
  display: inline;
  font-size: 1em;
}

.cwic-filefield:hover:before {
  color: #1c9cb2;
}

.cwic-filefield.filled:before {
  color: #18c13d;
}

.select2-container .select2-choice {
  background: #fff;
  color: inherit;
  border-radius: 0;
  border: 1px solid #ccc;
  height: auto;
  line-height: normal;
  padding: 8px 0 8px 8px;
}

.select2-default {
  color: inherit !important;
}

.select2-container .select2-choice .select2-arrow {
  background: transparent;
  width: 26px;
  border: 0 none;
  border-radius: 0;
}

.select2-container .select2-choice .select2-arrow b {
  display: none;
}

.select2-dropdown-open .select2-choice .select2-arrow:before {
  transform: rotate(-180deg);
}

.select2-dropdown-open .select2-choice, 
.select2-drop {
  border-color: #999;
}

.select2-drop {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: inherit;
}

.select2-dropdown-open {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.select2-container-active, .select2-container-active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.select2-container:hover .select2-choice .select2-arrow:before, 
.select2-dropdown-open .select2-choice .select2-arrow:before {
  color: #1c9cb2;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  box-shadow: none;
  outline: none;
  border-color: #999;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: transparent;
  font-size: 0.9em;
}

.select2-container .select2-choice > .select2-chosen {
  text-align: center;
}

.select2-search input {
  background-color: #fff;
  border-color: #999;
  linear-gradient: none;
  -moz-linear-gradient: none;
  -o-linear-gradient: none;
  -ms-linear-gradient: none;
  -webkit-linear-gradient: none;
  font-family: inherit;
}

.select2-results {
  margin: 0;
  padding: 5px 0 0 0;
}

.select2-results .select2-highlighted {
  background: #1c9cb2;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  padding: 0 7px;
}

.select2-drop.select2-drop-above {
  border-radius: 0;
  border-color: #999;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  border-top: 0 none;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border-top: 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-radius: 0;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-color: #999;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none;
  border-color: #999;
}

.select2-search input.select2-active {
  background-image: image-url('ajax_wait.svg');
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 99% center;
  background-position: -webkit-calc(100% - 2px) center;
  background-position: right 2px center;

}