div#entity-form {
  div.field.slack-field {
    span {
      margin: 0 10px;
    }

    input {
      width: 50px;
    }
  }
}

div.nested-scopes {
  margin-left: 1em;
}

div.reservation-rule-scope {
  div.actions {
    float: right;
  }
}
