div#entity-type-form {
  div.field.icon-select label {
    float: left;
    border: 2px solid #ccc;
    display: block;
    margin: 5px;
    padding: 5px;
    height: 60px;
    line-height: 120px;
    background-position: center 5px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  div.field.icon-select label.active {
      border: 2px solid #ff3520;
  }

  div.field.icon-select input[type="radio"] {
    float: left;
    width: 40px;
    height: 40px;
    display: none;
  }

  a.add-nested-object {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  ul#entity-type-reservation-statuses {
    list-style-type: none;

    li {
      margin: 1em;
      display: block;
      background-color: #fff;

      div.inner {
        border: 2px solid #ccc;
        display: inline-block;

        div.field {
          margin: 1em;
          float: left;
        }
      }

    }
  }

  /* Property and option wrapper markup (view and form) */
  div.property-wrapper,
  div.option-wrapper {
    div.extra {
      margin-right: 0;
    }

    div.extra .default-value {
      display: none;
    }

    .property-options {
      display: none;
    }

    div.option-sort-handle {
      cursor: move;
    }

    div.view {
      div.name {

      }

      div.description {

      }

      div.description div.value {
        line-height: 1.2em;
        max-height: 3.6em;
        overflow: hidden;
        text-overflow: ellipsis; /* XXX TODO does not work */
      }

      div.extra {

      }

      div.extra dl {
        margin: 0;
      }

      div.extra dt {
        float: left;
        clear: left;
        text-align: right;
        margin: 0;
        padding-right: 10px;
      }

      div.extra dd {
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    div.form {
      div.name input {
        width: 140px;
      }

      div.description textarea {
        height: 110px;
        width: 250px;
        max-width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      div.extra label {
        text-align: right;
        padding-right: 10px;
      }

      div.extra input,
      div.extra textarea {
        width: 140px;
      }

      div.extra select {
        width: 160px;
      }

      div.extra input[type="checkbox"] {
        width: auto;
      }

      div.extra textarea {
        height: 60px;
      }

      div.extra input[type='checkbox'] {
        margin: 9px 0;
      }

      div.property-options {
        border-top: 2px dashed #ccc;
        margin-top: 10px;
        padding-top: 10px;
        clear: left;

        h4,
        table {
          margin: 0 0 10px 0;
        }

        th {
          vertical-align: top;
          line-height: normal;
        }

        tbody.target tr:nth-child(2n+1) {
          background-color: #fff;
        }

        td.default,
        th.default {
          text-align: center;
        }

        th.default a.clear-default-link {
          display: block;
          font-size: 7pt;
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }
}