div#entity-type-form {
  div.field.icon-select label {
    float: left;
    border: 2px solid #ccc;
    display: block;
    margin: 5px;
    padding: 5px;
    height: 60px;
    line-height: 120px;
    background-position: center 5px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  div.field.icon-select label.active {
      border: 2px solid #ff3520;
  }

  div.field.icon-select input[type="radio"] {
    float: left;
    width: 40px;
    height: 40px;
    display: none;
  }

  a.add-nested-object {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}