div#new_feedback_popup h3 {
  margin: 0;
}

div#new_feedback_popup div.feedback-status, div#new_feedback_popup div.feedback-review {
  position: relative;
}

div#new_feedback_popup div.feedback-status {
  background-image: image-url('ajax_wait.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

div#new_feedback_popup h3#feedback-error,
div#new_feedback_popup h3#feedback-success,
div#new_feedback_popup p#feedback-error-explain,
div#new_feedback_popup p#feedback-success-explain {
  visibility: hidden;
}

div#new_feedback_popup p#feedback-intro {
  width: 400px;
}

div#new_feedback_popup textarea#feedback-message {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  clear: both;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div#new_feedback_popup p#feedback-message-summary {
  clear: both;
  font-style: italic;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  min-height: 20px;
}

div#new_feedback_popup p#feedback-message-summary a#edit_feedback_button {
  position: absolute;
  right: 5px;
  top: 5px;
}


div#new_feedback_popup div.feedback-tech-info {
  float: left;
  width: 200px;
}

div#new_feedback_popup div.feedback-tech-info h4 {
  margin: 0;
}

div#new_feedback_popup img#screenshot_preview {
  max-width: 400px;
  max-height: 400px;
  margin: 10px;
}

div#new_feedback_popup img#screenshot_preview {
  float: left;
}

div#new_feedback_popup button.feedback-button {
  clear: both;
  float: right;
  margin: 10px 0 0 10px;
}

td.feedback_message p, td.feedback_specs p {
  height: 50px;
  width: 300px;
  overflow: hidden;
  word-wrap: nowrap;
  text-overflow: ellipsis;
}

#open-feedback-button {
  font-size: 1em;
  line-height: 200%;
  margin: 5px 5px 4px 5px;
  padding: 0 10px;
}