@font-face {
  font-family: 'Aller';
  src: font-url('aller_rg-webfont.eot');
  src: font-url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_rg-webfont.woff') format('woff'), 
       font-url('aller_rg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_bd-webfont.eot');
  src: font-url('aller_bd-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_bd-webfont.woff') format('woff'), 
       font-url('aller_bd-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_it-webfont.eot');
  src: font-url('aller_it-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_it-webfont.woff') format('woff'), 
       font-url('aller_it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_bdit-webfont.eot');
  src: font-url('aller_bdit-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_bdit-webfont.woff') format('woff'), 
       font-url('aller_bdit-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AllerLight';
  src: font-url('aller_lt-webfont.eot');
  src: font-url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_lt-webfont.woff') format('woff'), 
       font-url('aller_lt-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerLight';
  src: font-url('aller_ltit-webfont.eot');
  src: font-url('aller_ltit-webfont.eot?#iefix') format('embedded-opentype'), 
       font-url('aller_ltit-webfont.woff') format('woff'), 
       font-url('aller_ltit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

html {
  background: #f7f7f7;
}

body {
  color: #444444;
  font-size: 80%;
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
}

#menu-bar {
  position: relative;
  background: #666666;
  border-bottom: 1px solid #444444;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, transparent 100%);
  color: #ffffff;
}

#menu-bar i[class^="icon-"], #menu-bar i[class*=" icon-"] {
  font-size: 1.1em;
  position: relative;
  bottom: -0.12em;
  margin: 0 0.2em 0 0;
}

#user-info {
  float: left;
  padding: 5px 8px;
  margin: 0 0 -1px 0;
}

#main-menu {
  display: block;
  float: right;
  list-style-type: none;
  margin: 0 0 -1px 0;
  padding: 0;
}

#main-menu > li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#main-menu > li > a {
  display: block;
  padding: 5px 8px;
  color: #ffffff;
  text-decoration: none;
}

#main-menu > li > a:hover {
  background: rgba(255,255,255,0.1);
}

#main-menu > li.selected:after {
  display: block;
  content: '.';
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid #444444;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#main-menu > li.active.selected:after {
  border-top-color: #ff3520;
}

#main-menu > li.active > a {
  background: #ff3520;
  color: #ffffff;
}

#submenu-box {
  overflow: hidden;
  position: relative;
  background: #dddddd;
  border-bottom: 1px solid #b5b5b5;
  text-align: center;
}

#submenu-box > .submenu {
  display: inline-block;
  text-align: left;
  padding: 10px;
  margin: 0;
}

#submenu-box > .submenu > .submenu-block {
  float: left;
}

h1 {
  margin-left: 20px;
}

h1.title-box,
h2.title-box,
h3.title-box,
h4.title-box,
h5.title-box,
h6.title-box  {
  line-height: 1em;
  display: inline-block;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border: 1px solid #e6301d;
  border-radius: 5px;
  background: #ff3520;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0,0,0,0.6);
  margin: 20px 10px 0 10px;
  padding: 20px 25px;
  text-align: left;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'AllerLight', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  letter-spacing: 0.02em;
  word-spacing: 0.03em;
}

img {
  border: 0;
}

h1 strong {
  font-weight: bold;
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #ff3520;
}

a {
  color: #ff3520;
  text-decoration: underline;
}

a:hover {
  color: #ff3520;
  text-decoration: none;
}

a > img {
  display: block;
}

.icon {
  text-decoration: none;
}

input, textarea {
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1em;
  border: 1px solid #cccccc;
  padding: 8px;
  width: 15em;
  transition: border-color 0.2s;
  vertical-align: top;
}

input:focus, textarea:focus {
  border-color: #999999;
}

textarea {
  width: 30em;
  height: 10em;
}

input[type="submit"],
input[type="reset"],
button, 
.button {
  width: auto;
  border: 0 none;
  background-color: #666666;
  color: #ffffff;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  line-height: normal;
  transition: background-color 0.2s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover, 
.button:hover {
  background-color: #555555;
  color: #ffffff;
}

label {
  display: inline-block;
  width: 10em;
  padding: 8px 0;
  line-height: normal;
}

#content {
  margin: 20px 10px;
}

#content {
  border: 1px solid #cccccc;
  background: #ffffff;
}

#content > .inner {
  padding: 15px 20px;
}