@font-face {
  font-family: 'Aller';
  src: font-url('aller_rg-webfont.eot');
  src: font-url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_rg-webfont.woff') format('woff'),
       font-url('aller_rg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_bd-webfont.eot');
  src: font-url('aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_bd-webfont.woff') format('woff'),
       font-url('aller_bd-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_it-webfont.eot');
  src: font-url('aller_it-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_it-webfont.woff') format('woff'),
       font-url('aller_it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: font-url('aller_bdit-webfont.eot');
  src: font-url('aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_bdit-webfont.woff') format('woff'),
       font-url('aller_bdit-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AllerLight';
  src: font-url('aller_lt-webfont.eot');
  src: font-url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_lt-webfont.woff') format('woff'),
       font-url('aller_lt-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerLight';
  src: font-url('aller_ltit-webfont.eot');
  src: font-url('aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('aller_ltit-webfont.woff') format('woff'),
       font-url('aller_ltit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

html {
  background: #f7f7f7;
}

body {
  color: #444444;
  font-size: 80%;
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 200%;
}

.clearfix:after {
  display: block;
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
}

/**
 * Menu
 */

#menu-bar {
  position: relative;
  background: #666666;
  border-bottom: 1px solid #444444;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, transparent 100%);
  color: #ffffff;
  text-align: right;
}

[class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
}

#menu-bar i[class^="icon-"],
#menu-bar i[class*=" icon-"] {
  vertical-align: baseline;
  font-size: 1.1em;
  position: relative;
  bottom: -0.12em;
  margin: 0 0.2em 0 0;
}

#user-info {
  float: left;
  margin: 0 0 -1px 0;
  position: relative;
}

#main-menu,
#user-menu {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 -1px 0;
  padding: 0;
  white-space: nowrap;
}

#main-menu > li,
#user-menu > li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin: 0;
}

#user-menu > li {
  display: block;
}

#main-menu > li > a,
#user-menu > li > a,
#user-info a {
  display: block;
  padding: 5px 8px;
  color: #ffffff;
  text-decoration: none;
}

#main-menu > li > a .shortcut-highlight {
  text-decoration: underline;
}

#main-menu > li > a:hover,
#user-menu > li > a:hover {
  background: rgba(255,255,255,0.1);
}

#main-menu > li.selected:after {
  display: block;
  content: '.';
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid #444444;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#main-menu > li.active.selected:after {
  border-top-color: #ff3520;
}

#main-menu > li.active > a {
  background: #ff3520;
  color: #ffffff;
}

#user-menu {
  display: none;
  position: absolute;
  margin: 0;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 22;
  background: #B5B5B5;
  text-align: left;
}

#user-menu > li > a {
  color: #444444;
}

#user-info:hover #user-menu {
  display: block;
}

#submenu-box {
  overflow: hidden;
  position: relative;
  background: #dddddd;
  border-bottom: 1px solid #b5b5b5;
  text-align: center;
}

#submenu-box > .submenu {
  display: inline-block;
  text-align: left;
  padding: 10px;
  margin: 0;
}

#submenu-box > .submenu > h2 {
  visibility: hidden;
  height: 1px;
  padding: 0;
  margin: 0;
}

#submenu-box > .submenu > .submenu-block {
  float: left;
  margin: 0 15px;
}

#submenu-box > .submenu > .submenu-block > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#submenu-box > .submenu > .submenu-block > ul > li {
  padding: 0;
  margin: 0;
}

#submenu-box > .submenu > .submenu-block > ul > li a {
  display: inline-block;
}

#submenu-box > .submenu > .submenu-block > ul > li.active a {
  background-color: #ff3520;
  color: #ffffff;
  text-decoration: none;
  padding: 0 8px;
  border-radius: 3px;
}

/**
 * Global
 */

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.ui-widget {
  font-family: inherit;
  font-size: 1em;
}

.ui-widget-content,
.ui-widget-header {
  color: inherit;
}

#notice {
  color: green;
}

.help {
  [class^="icon-"], [class*=" icon-"] {
    &:hover + p {
      display: block;
    }
    font-size: 1.5em;
    line-height: 130%;
    margin: 0;
    color: #17889d;
    cursor: help;
  }
  p {
    position: absolute;
    top: 0;
    left: 2.1em;
    margin: 0;
    padding: 0.3em 0.5em;
    max-width: 40em;
    display: none;
    border: 1px solid #17889d;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background: #ffffff;
    z-index: 1;
  }
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0;
}

.field > .with_errors {
  display: inline-block;
  color: #ff3520;
}

.field_with_errors {
  display: inline-block;
  vertical-align: top;
}

.field_with_errors > label {
  color: #ff3520;
}

.field_with_errors > input,
.field_with_errors > select,
.field_with_errors > textarea {
  border: 2px solid #ff3520;
}

#error-explanation {
  display: inline-block;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #ffd2cf;
  border: 1px solid #ffbfba;
  color: #ff3520;
  .error-head {
    font-weight: bold;
    font-size: 1.1em;
    margin: -10px -10px 0 -10px;
    padding: 5px 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }
  ul li {
    list-style: square inside;
  }
}

h1.title-box,
h2.title-box,
h3.title-box,
h4.title-box,
h5.title-box,
h6.title-box  {
  line-height: 1em;
  display: inline-block;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border: 1px solid #e6301d;
  border-radius: 5px;
  background: #ff3520;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0,0,0,0.6);
  margin: 20px 10px 0 10px;
  padding: 20px 25px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 0.02em;
  word-spacing: 0.03em;
}

h1 {
  font-family: 'AllerLight', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 2.5em;
  margin-left: 20px;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3m;
}

h6 {
  font-size: 1.2em;
}

img {
  border: 0;
}

h1 strong {
  font-weight: bold;
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #ff3520;
}

a {
  color: #ff3520;
  text-decoration: underline;
  background-color: transparent;
}

a:hover {
  color: #ff3520;
  text-decoration: none;
}

a > img {
  display: block;
}

.icon {
  text-decoration: none;
}

input, textarea, select {
  font-family: 'Aller', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 1em;
  border: 1px solid #cccccc;
  padding: 8px;
  width: 15em;
  transition: border-color 0.2s;
}

input[type="file"], 
input[type="checkbox"] {
  width: auto;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin: 0.5em 0 0 0;
  border: 0 none;
}

select {
  width: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:focus, textarea:focus {
  border-color: #999999;
}

textarea {
  width: 30em;
  height: 10em;
}

input[type="submit"],
input[type="reset"],
button,
.button {
  display: inline-block;
  width: auto;
  border: 0 none;
  background-color: #666666;
  color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  line-height: normal;
  transition: background-color 0.2s;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, transparent 50%);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #555555;
  color: #ffffff;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, transparent 50%);
}

input[type="submit"] {
  background-color: #ff3520;
}

input[type="submit"]:hover {
  background-color: #ff4537;
}

label {
  display: inline-block;
  width: 10em;
  padding: 9px 0;
  line-height: normal;
  vertical-align: top;
}

#content {
  margin: 20px 10px;
}

#content {
  border: 1px solid #cccccc;
  background: #ffffff;
}

#content > .inner {
  padding: 15px 20px;
}

table {
  background-color: #fdfdfd;
  border: 1px solid #cccccc;
  margin: 20px 0;
  border-collapse: collapse;
  max-width: 100%;
}

table thead {
  background-color: #dddddd;
  border-bottom: 1px solid #cccccc;
}

table td,
table th {
  padding: 6px 10px;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

dl {
  display: block;
  margin: 20px 0;
  padding: 0;
}

dl dt,
dl dd {
  margin: 0;
  padding: 0;
}

dl dt {
  font-weight: bold;
}

dl dt:after {
  display: inline;
  content: ':';
}

dd + dt {
  margin-top: 10px;
}

button.ui-datepicker-trigger {
  margin-left: 3px;
}

.progress-bar {
  background-color: #6DBFCE;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(0.25, rgba(255, 255, 255, 0.3)), color-stop(0.25, transparent),
            color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.3)),
            color-stop(0.75, rgba(255, 255, 255, 0.3)), color-stop(0.75, transparent),
            to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);

  -webkit-animation: animate-stripes-30 1.5s linear 0s infinite normal;
  -moz-animation: animate-stripes-30 1.5s linear 0s infinite normal;
  animation: animate-stripes-30 1.5s linear 0s infinite normal;
}

div.property-wrapper,
div.option-wrapper {
  font-size: 0.9em;
  width: 800px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;

  div.horizontal-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

  div.field {
    margin-bottom: 0;
  }

  div.handle,
  div.option-handle {
    cursor: move;
  }

  div.handle {
    font-size: 1.8em;
    margin-right: 10px;
  }

  div.extra {
    margin-right: 0;
  }

  div.actions {
    float: right;
    font-size: 1.3em;
  }

  div.actions a.icon {
    margin-left: 2px;
  }

  .entity-type-property-options {
    display: none;
  }

  div.view {
    line-height: 1.5em;

    div.label:after {
      content: ": ";
      display: inline;
    }

    div.label {
      font-weight: bold;
    }

    div.name {
      width: 100px;
    }

    div.description {
      width: 250px;
    }

    div.description div.value {
      line-height: 1.2em;
      width: 250px;
      max-height: 3.6em;
      overflow: hidden;
      text-overflow: ellipsis; /* XXX TODO does not work */
    }

    div.extra {
      width: 300px;
    }

    div.extra dl {
      margin: 0;
    }

    div.extra dt {
      width: 110px;
      float: left;
      clear: left;
      text-align: right;
      margin: 0;
      padding-right: 10px;
    }

    div.extra dd {
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  div.form {
    display: none;

    div.name input {
      width: 125px;
    }

    div.description textarea {
      width: 275px;
      height: 110px;
    }

    div.extra label {
      width: 110px;
      text-align: right;
      padding-right: 10px;
    }

    div.extra input,
    div.extra textare {
      width: 120px;
    }

    div.extra select {
      width: 138px;
    }

    div.extra input[type="checkbox"] {
      width: auto;
    }

    div.extra textarea {
      height: 60px;
    }

    div.extra input[type='checkbox'] {
      margin: 9px 0;
    }

    div.entity-type-property-options {
      border-top: 2px dashed #ccc;
      padding-top: 10px;

      h4,
      table {
        margin: 0 0 10px 0;
      }

      th {
        vertical-align: top;
        line-height: normal;
      }

      tbody.target tr:nth-child(2n+1) {
        background-color: #fff;
      }

      td.default,
      th.default {
        text-align: center;
      }

      th.default a.clear-default-link {
        display: block;
        font-size: 7pt;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}