@import 'imports/whhg';

.button[data-action="new"] {
  @extend .icon-circleadd;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="destroy"] {
  @extend .icon-remove-sign;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="edit"] {
  @extend .icon-edit;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="index"] {
  @extend .icon-list;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="show"] {
  @extend .icon-eye-view;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}