@import 'imports/iada-wayfinding';
@import 'imports/whhg';

.button [class^="icon-"], button [class^="icon-"],
.button [class*=" icon-"], button [class*=" icon-"],
.button[class^="icon-"]:before, button[class^="icon-"]:before,
.button[class*=" icon-"]:before, button[class*=" icon-"]:before {
 font-size: inherit;
}

.dropdown {
  .dropdown-current-option {
    @extend .icon-chevron-down;
    &:before {
      @extend [class^="icon-"];
    }
  }
}

.select2-container .select2-choice .select2-arrow {
  @extend .icon-chevron-down;
  &:before {
    @extend [class^="icon-"];
  }
}

.cwic-checkbox.checked > .inner {
  @extend .icon-ok;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="new"] {
  @extend .icon-circleadd;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="destroy"] {
  @extend .icon-remove-sign;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.modal .close {
  @extend .icon-remove;
  &:before {
    @extend [class^="icon-"];
  }
}

.button[data-action="edit"] {
  @extend .icon-edit;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="index"] {
  @extend .icon-list;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

.button[data-action="show"] {
  @extend .icon-eye-view;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}

button.new-sticky {
  @extend .icon-stickynote;
  &:before {
    @extend [class^="icon-"];
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
}