// Place all the styles related to the organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.address-map {
	width: 400px;
	height: 400px;
	position: relative;
	float: left;
	padding: 10px;
	margin-left: 40px;
	border: 1px solid #ccc;
}

div.organisation-client-fields {
	width: 400px;
	position: relative;
	float: left;
}

div.auto-address-fields {
	position: relative;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

div.auto-address-fields input[readonly="readonly"]
{
    background-color: #eee;
}

a#edit-auto-address-fields {
	position: absolute;
	right: 10px;
	top: 10px;
	outline: none;
}