body.controller-real_time_full_screens.action-show #header, 
body.controller-real_time_full_screens.action-show h1 {
  display: none;
}

body.controller-real_time_full_screens.action-show #content {
  margin: 0;
}

body.controller-real_time_full_screens.action-show #content > .inner {
  padding: 0;
}

#realtime-list {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
}

#realtime-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #aaa;
}

#realtime-list > li > .inner {
  padding: 20px;
  border-left: 15px solid #18c13d;
}

#realtime-list > li > .inner h2 {
  margin: 0;
  font-size: 3.5em;
  line-height: 150%;
}

#realtime-list > li > .inner .object {
  font-size: 2.5em;
  margin-top: 0.7em;
  font-family: SignikaLight;
}

#realtime-list > li > .inner .availability {
  font-size: 2em;
}

#realtime-list > li > .inner .availability strong {
  font-size: 1.3em;
  vertical-align: middle;
  font-weight: bold;
}

#realtime-list > li > .inner .availability.available {
  color: #18c13d;
}

#realtime-list > li > .inner .availability.not-available {
  color: #ff3520;
}

#realtime-list > li > .inner .info-container {
  float: right;
  border-spacing: 0;
  margin: 0;
  border: 0 none;
  font-size: 1.4em;
  position: relative;
  padding-right: 9em;
}

#realtime-list > li > .inner .wayfinding {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  font-size: 7.5em;
  width: 1em;
  text-align: center;
  background-color: #17889d;
  color: #fff;
  padding: 0 0.01em;
  height: 100%;
}

#realtime-list > li > .inner .wayfinding [class^="symbol-"]:before, 
#realtime-list > li > .inner .wayfinding [class*=" symbol-"]:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 0;
  text-align: center;
  line-height: 0;
  width: 100%;
}

#realtime-list > li > .inner .reservation-dates {
  border-spacing: 0;
  margin: 0 0 0 20px;
  padding: 0;
  border: 0 none;
  opacity: 0.85;
}

#realtime-list > li > .inner .reservation-dates .datebox {
  font-size: 1.9em;
  background-color: #eee;
}

#realtime-list > li > .inner .reservation-dates .datebox.until {

}

#realtime-list > li > .inner .reservation-dates .datebox td {
  border-left: 0.17em solid #fff;
  border-bottom: 0.34em solid #fff;
  padding: 0 0.3em;
  line-height: 1.8em;
  text-align: center;
  color: #fff;
}

#realtime-list > li > .inner .reservation-dates .datebox.until td {
  border-bottom: 0 none;
}

#realtime-list > li > .inner .reservation-dates .datebox .until, 
#realtime-list > li > .inner .reservation-dates .datebox .from {
  background-color: #777;
}

#realtime-list > li > .inner .reservation-dates .datebox .day {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #18c13d;
  font-weight: bold;
}

#realtime-list > li > .inner .reservation-dates .datebox.until .day {
  background-color: #ff3520;
}

#realtime-list > li > .inner .reservation-dates .datebox .date {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #18c13d;
}

#realtime-list > li > .inner .reservation-dates .datebox.until .date {
  background-color: #ff3520;
}

#realtime-list > li > .inner .reservation-dates .datebox .time {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #18c13d;
}

#realtime-list > li > .inner .reservation-dates .datebox.until .time {
  background-color: #ff3520;
}

@media (max-width: 1200px) {
  #realtime-list > li > .inner .reservation-dates .datebox .day,
  #realtime-list > li > .inner .reservation-dates .datebox .day-empty {
    display: none;
  }
  #realtime-list > li > .inner .info-container {
    font-size: 1.2em;
  }
  #realtime-list > li > .inner h2 {
    font-size: 3em;
  }
  #realtime-list > li > .inner .object {
    font-size: 2.2em;
  }
}

@media (max-width: 1024px) {
  #realtime-list > li > .inner .reservation-dates .datebox .from,
  #realtime-list > li > .inner .reservation-dates .datebox .until {
    display: none;
  }
  #realtime-list > li > .inner .info-container {
    font-size: 1.1em;
  }
  #realtime-list > li > .inner h2 {
    font-size: 2.8em;
  }
  #realtime-list > li > .inner .object {
    font-size: 2em;
  }
}

@media (max-width: 900px) {
  #realtime-list > li > .inner .info-container {
    font-size: 1em;
  }
  #realtime-list > li > .inner h2 {
    font-size: 2.5em;
  }
  #realtime-list > li > .inner .object {
    font-size: 1.9em;
  }
}