div#reservation-form {
  div.field.slack-field {
    background-color: #d7eff2;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 16em;
    &.slack-field-begin {
      left: 0;
    }
    &.slack-field-end {
      right: 0;
    }
    span {
      margin: 0 10px;
    }
    input {
      width: 5.5em;
      border-color: #99d2dd;
      &:focus {
        border-color: #6dbfce;
      }
    }
    label {
      display: inline-block;
      color: #1c9cb2;
    }
    .suffix {
      font-size: 1.3em;
      font-weight: bold;
      color: #1c9cb2;
    }
  }
  
  fieldset.begin-and-end {
    position: relative;
    display: block;
    border: 1px solid #6dbfce;
    padding: 0 17em 3.5em 17em;
    margin: 0 0 30px 0;
    text-align: center;
    background-color: #6dbfce;
    label, .suffix, label + span.help, .suffix + span.help {
      padding: 0.8em 0;
      vertical-align: middle;
    }
    label + span.help, .suffix + span.help {
      margin-top: -0.1em;
      margin-right: 0;
    }
    input, textarea, select {
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;
      border: 1px solid #1c9cb2;
      color: #17889d;
      &:focus {
        border-color: #17889d;
      }
      &.replaced + div {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
        color: #17889d;
      }
    }
    .field_with_errors {
      input, textarea, select {
        border-color: #ff3520;
        &.replaced + div {
          border-color: #ff3520;
        }
      }
    }
    .timepicker-field {
      margin-left: 5px;
    }
    i.until-icon {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 3.2em;
      line-height: 180%;
      margin: -0.2em 0 0 0;
      padding: 0;
    }
    label {
      display: block;
      width: auto;
      font-weight: bold;
      font-size: 1.3em;
    }
  }
  div.field.field-begins-at, div.field.field-ends-at {
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    padding: 0 5%;
    margin: 0;
    label {
      text-align: left;
      color: #fff;
      &:after {
        color: #fff;
      }
    }
  }
  div.entity-selector {
    div.selected-entity {
      position: relative;
      background-color: #1c9cb2;
      color: #fff;
      font-size: 1.8em;
      font-weight: bold;
      padding: 0.8em 2.5em 0.8em 0.8em;
      &:before {
        position: absolute;
        right: 0.8em;
        font-size: 1em;
        top: 50%;
        transform: translate(0, -50%);
      }
      &.available {
        background-color: #18c13d;
      }
      &.unavailable {
        background-color: #ff3520;
      }
    }
    div.entity-type-filter {
      padding-bottom: 1em;
      margin-bottom: 10px;
      text-align: center;
      background-color: #eee;
      div.field.field-entity {
        display: inline-block;
        text-align: left;
        font-weight: 500;
        label {
          display: block;
          width: auto;
          text-align: center;
        }
        input, textarea, select {
          font-size: 1.3em;
          &.replaced + div {
            font-size: 1.3em;
          }
        }
      }
    }
    ul.entity-list {
      display: block;
      list-style-type: none;
      padding: 0;
      margin: 0;
      max-height: 20.5em;
      overflow: scroll;
      overflow-x: hidden;
      li {
        display: block;
        margin: 0 0 2px 0;
        background-color: #eee;
        > a {
          display: block;
          padding: 0.5em;
          color: inherit;
          text-decoration: none;
          &:hover {
            color: #1c9cb2;
          }
        }
        &.selected {
          background-color: #1c9cb2;
          > a {
            color: #fff;
          }
        }
      }
    }
  }
  div.actions {
    padding: 10px 0;
    clear: both;
  }
}

div.status-selector {
	div.statuses {
    border-radius: 3px;
  
		a.status-button {
		  background-color: #ccc;
		  color: inherit;
		  opacity: 0.2;
		}
    
		a.status-button:hover {
			opacity: 0.5;
		}

		a.status-button.active {
			opacity: 1;
		}
    
    a.status-button:last-child:before {
      display: none;
    }
	}

	p.saved-notification {
	    margin: 5px;
	    font-size: 80%;
	    color: #666;
	    font-style: italic;
	    line-height: 100%;
	    display: none;
	    float: right;
	}
}

div.status-selector.mini {
	div.statuses {
		padding: 2px;
		border: none;
	}

	a.status-button {
		padding: 4px 5px;
    position: relative;
	}
}

div.reservation-recurrence-definition-wrapper {

	div.recurrence_definition_fields,
	div.recurrence_definition_weekly,
	div.recurrence_definition_monthly {
		display: none;
	}

	div.repeating_weekdays_selector,
	div.repeating_monthdays_selector {
		display: inline-block;
		max-width: 400px;
		background-color: #ddd;

		input {
			display: none;
		}

		label {
			width: 10.5%;
			text-align: center;
			position: relative;
			float: left;
			line-height: 20px;
			margin: 1%;
			background-color: #fff;
			color: #ff3520;
			font-weight: bold;
			padding: 8px 0;
			cursor: pointer;

			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		label::-moz-selection {
		  background-color: transparent;
		  color: inherit;
		}

		label::selection {
		  background-color: transparent;
		  color: inherit;
		}

		label.active {
			color: #fff;
			background-color: #ff3520;
		}
	}

	span.repeating_every_unit {
		margin: 0 10px;
	}

	div.repeating_weekdays_selector {
		label {
			width: 31.333333%;
		}
	}

	div.repeating_end_options {
		display: inline-block;
	}
}


div.slack-warning {
  display: inline-block;
	margin: 0 10px;
	border: 1px solid #e59812;
	padding: 0 10px;

	i {
		color: #e59812;
		margin-right: 10px;
		font-size: 1.8em;
	}
}

div.multiple-edit-form {
	padding: 10px;

	div.cwic-checkbox[data-name="edit_fields[]"] {
		margin-right: 20px;
	}

	input#begins_at_tod,
	input#ends_at_tod {
		margin: 0;
	}
}
