div#reservation-form {
  div.field.slack-field {
    span {
      margin: 0 10px;
    }

    input {
      width: 50px;
    }
  }
}

div.status-selector {
	div.statuses {
	  border: 1px solid #ccc;
	  padding: 5px;
	  border-radius: 3px 3px 3px 3px;

		a.status-button {
		  background-color: #ccc;
		  color: #444;
		  opacity: 0.2;
		}

		a.status-button.active {
			opacity: 0.7;
		}

		a.status-button:hover {
			opacity: 1.0;
		}
	}

	p.saved-notification {
	    margin: 5px;
	    font-size: 80%;
	    color: #666;
	    font-style: italic;
	    line-height: 100%;
	    display: none;
	    float: right;
	}
}

div.status-selector.mini {
	div.statuses {
		padding: 2px;
		border: none;
	}

	a.status-button {
		padding: 4px 5px;
	}
}

div.recurrence_definition_fields,
div.recurrence_definition_weekly,
div.recurrence_definition_monthly {
	display: none;
}

div.fields div.repeating_weekdays_selector,
div.fields div.repeating_monthdays_selector {
	display: inline-block;
	max-width: 400px;
	background-color: #ddd;

	input {
		display: none;
	}

	label {
		width: 10.5%;
		text-align: center;
		position: relative;
		float: left;
		line-height: 20px;
		margin: 1%;
		background-color: #fff;
		color: #ff3520;
		font-weight: bold;
		padding: 8px 0;
		cursor: pointer;

		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	label.active {
		color: #fff;
		background-color: #ff3520;
	}
}

div.fields div.repeating_weekdays_selector {
	label {
		width: 31.333333%;
	}
}

div.repeating_end_options {
	display: inline-block;
}

input#reservation_reservation_recurrence_definition_attributes_repeating_instances {
	width: 3em;
}

div.slack-warning {
  display: inline-block;
	margin: 0 10px;
	border: 1px solid #e59812;
	padding: 0 10px;

	i {
		color: #e59812;
		margin-right: 10px;
		font-size: 1.8em;
	}
}

div.multiple-edit-form {
	padding: 10px;

	div.cwic-checkbox[data-name="edit_fields[]"] {
		margin-right: 20px;
	}

	input#begins_at_tod,
	input#ends_at_tod {
		margin: 0;
	}
}
