div.nested-scopes {
  margin-left: 5em;
}

div#reservation-rule-scope-span-selector-wrapper {
  display: none;
}

div#reservation-rule-scope-spans-container {
  margin-bottom: 1em;

  > label {
    float: left;
  }

  div.actions {
    display: inline-block;
  }

  div.span-fields {
    display: inline-block;

    label {
      width: auto;
    }

    > div {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
