div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field > .with_errors {
  display: inline-block;
  color: #ff3520;
  border-bottom: 3px solid #ff3520;
  padding: 0 0 7px 0;
  border-radius: 0 0 0 15px;
}

.field_with_errors {
  display: inline-block;
  vertical-align: top;
}

#error-explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
