div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field > .with_errors {
  display: inline-block;
  background-color: #ffc2bc;
  background-color: rgba(255,53,32,0.3);
  padding: 5px;
  margin-left: -5px;
  border-radius: 3px;
  color: #ff3520;
}

.field_with_errors {
  display: inline-block;
  vertical-align: top;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
