div.schedule-container p {
  padding: 0;
  margin: 0;
}

div.schedule-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 20px 0;
}

div.schedule-container div.sticky-wrapper {
  margin-bottom: -1px;
  margin-left: 4%;
}

div.schedule-container div.time-axis {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 10;
  border-bottom: 2px solid #ccc;
  margin-bottom: -1px;
}

div.schedule-container div.day-axis {
    position: relative;
    float: left;
    max-width: 4%;
    height: 100%;
    overflow: hidden;
}

div.schedule-container div.day-axis-row {
  position: relative;
  height: 62px;
  padding: 1px 0;
}

div.schedule-container div.day-axis-row > .inner {
  position: relative;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}

div.schedule-container div.time-axis div.hour-time-axis-frame {
  position: relative;
  float: left;
  width: 4.166666%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  left: 2.083333%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.schedule-container div.schedule-body {
  position: relative;
  float: right;
  width: 96%;
}

div.schedule-container div.schedule-body div.day-row {
  position: relative;
  width: 100%;
  min-height: 62px;
  border: 1px solid #ccc;
  margin: 5px 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.schedule-container div.schedule-body div.day-row:first-child, div.schedule-container div.day-axis div.day-axis-row {
  margin-top: 3px;
}

div.schedule-container div.day-axis div.day-axis-row div {
  position: relative;
  text-align: center;
  width: 100%;
}

div.schedule-container div.schedule-body div.day-row:first-child {
  margin-top: 0;
}

div.schedule-container div.day-axis div.day-axis-row:first-child {
  margin-top: -1px;
}

div.schedule-container div.day-axis div.day-axis-row div.day-name p {
  height: 10px;
  width: 100%;
  line-height: 10px;
  font-style: italic;
  font-size: 0.9em;
}

div.schedule-container div.day-axis div.day-axis-row div.day-name {
  height: 10px;
}

div.schedule-container div.day-axis div.day-axis-row div.month-name p {
  height: 10px;
  width: 100%;
  line-height: 10px;
  font-style: italic;
  font-size: 0.9em;
 }

div.schedule-container div.day-axis div.day-axis-row div.month-name {
  height: 10px;
}

div.schedule-container div.day-axis div.day-axis-row div.day-nr p {
  height: 30px;
  line-height: 30px;
  font-size: 2.2em;
  width: 100%;
}

div.schedule-container div.day-axis div.day-axis-row div.day-nr {
  height: 30px;
}

div.schedule-container div.schedule-body div.day-row div.day-row-time-parts {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

div.schedule-container div.schedule-body div.day-row div.day-row-schedule-objects {
  position: relative;
  width: 100%;
}

div.schedule-container div.schedule-body div.day-row div.day-row-schedule-object-item-parts {
  position: relative;
  left: 0;
  top: 0;
  height: 20px;
  width: 100%;
  z-index: 4;
}

div.schedule-container div.schedule-body div.day-row div.day-row-schedule-object-item-parts {
  border-top: 1px dotted #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.schedule-container div.schedule-body div.day-row div.day-row-schedule-object-item-parts p.name {
  position: absolute;
  left: 25px;
  top: 50%;
  height: 20px;
  line-height: 20px;
  font-size: 0.8em;
  margin-top: -10px;
  overflow: hidden;
  font-style: italic;
  color: #444;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

div.schedule-container div.schedule-body div.day-row div.day-row-schedule-object-item-parts:first-child {
  border-top: 0 none;
}

div.schedule-container div.schedule-body div.day-row div.day-row-time-parts div.hour-time-frame {
  position: relative;
  float: left;
  width: 4.166666%;
  height: 100%;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.schedule-container div.schedule-body div.day-row div.day-row-time-parts div.hour-time-frame:first-child {
  border: none;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  z-index: 1;
  background-color: #555;
  overflow: hidden;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item div.continue {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-top: -7.5px;
  display: none;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item div.continue [class^="icon-"],
div.schedule-container div.schedule-body div.day-row div.schedule-item div.continue [class*=" icon-"] {
  height: 15px;
  line-height: 15px;
  vertical-align: baseline;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item div.continue.left {
  left: 5px;
  right: auto;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item div.continue.right {
  right: 5px;
  left: auto;
}

div.schedule-container div.schedule-body div.day-row div.schedule-item p.item-text {
  position: absolute;
  left: 25px;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  overflow: hidden;
}

div.schedule-container div.entityContainer {
  padding: 20px;
  border: 1px solid #ccc;
}

div.schedule-container div.entityContainer div.entity-button {
  position: relative;
  float: left;
  border: 2px solid #ccc;
  margin: 10px;
  width: 70px;
  cursor: pointer;
}

div.schedule-container div.entityContainer div.entity-button.active {
  border-color: #FF3520;
}

div.schedule-container div.entityContainer div.entity-button img.entity-icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 5px solid #fff;
}

div.schedule-container div.entityContainer div.entity-button p.entity-name {
  width: 100%;
  text-align: center;
  overflow: hidden;
  wordwrap: break-word;
  font-size: 0.8em;
}