div.today-and-tomorrow-container {

}

div.today-and-tomorrow-container div.entity-type-container {
  display: block;
  float: left;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

div.today-and-tomorrow-container div.entity-type-container h2 {
  width: 85%;
  margin-left: 5%;
  display: inline;
}

div.today-and-tomorrow-container div.entity-type-container img.entity_type_icon {
  width: 10%;
}

div.today-and-tomorrow-container div.entity-container {
  position: relative;
  width: 400px;
  border: 2px solid #ccc;
  margin: 10px 0;
  padding: 0 5px;
  padding-top: 25px;
}

div.today-and-tomorrow-container div.entity-container p {
  margin: 0;
  padding: 0;
}

div.today-and-tomorrow-container div.entity-container p.entity-name {
  position: absolute;
  left: -4px;
  top: -4px;
  background-color: #DDDDDD;
  width: auto;
  display: inline-block;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  -webkit-box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.2);
}

div.today-and-tomorrow-container div.entity-container div.entity-description {
  width: 90%;
  margin-left: 5%;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 0 2.5%;
  font-style: itallic;
  color: #666;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  max-height: 0px;
  overflow: hidden;

  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;

}

div.today-and-tomorrow-container div.entity-container div.entity-description.opened {
  max-height: 10000px;
}

div.today-and-tomorrow-container div.entity-container div.entity-description p {
  padding-top: 5px;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now {
  padding-bottom: 10px;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now p.reservation-description {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now div.time-info,
div.today-and-tomorrow-container div.entity-container div.reservation-now div.date-info {
  position:relative;
  height: 10px;
  font-size: 80%;
  line-height: 10px;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now div.date-info {
  display: none;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now div.time-info div.begin-time,
div.today-and-tomorrow-container div.entity-container div.reservation-now div.time-info div.begin-date  {
  float: left;
}

div.today-and-tomorrow-container div.entity-container div.reservation-now div.time-info div.end-time,
div.today-and-tomorrow-container div.entity-container div.reservation-now div.time-info div.end-date  {
  float: right;
}

div.today-and-tomorrow-container div.entity-container div.reservation-separator {
  border-top: 1px dashed #ccc;
  height: 0px;
}

div.today-and-tomorrow-container div.entity-container div.reservation-next {
}


div.today-and-tomorrow-container div.entity-container div.reservation-next h4 {
  margin: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 120%;
  line-height: 120%;
}

div.today-and-tomorrow-container div.entity-container p.no-reservations {
  text-align: center;
  color: #ff3520;
  font-size: 100%;
  margin: 5px 0;
}

div.today-and-tomorrow-container div.entity-container div.reservation-next p.reservation-line {
}

div.today-and-tomorrow-container div.entity-container div.reservation-next p.reservation-line span.time {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #666;
  font-size: 80%;
  font-weight: bold;
}

div.today-and-tomorrow-container div.entity-container div.progress-bar {
  background-color: #F7F7F7;
  height: 10px;
  padding: 2px;
  width: 95%;
  margin: 5px auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #444 inset, 0 1px 0 #888;
  -webkit-box-shadow: 0 1px 2px #444 inset, 0 1px 0 #888;
  box-shadow: 0 1px 2px #444 inset, 0 1px 0 #888;
  line-height: 10px;
}

div.today-and-tomorrow-container div.entity-container div.progress-bar span {
  display: inline-block;
  height: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
}

div.today-and-tomorrow-container div.entity-container div.progress-bar.red span {
  background-color: #FF3520;
}

div.today-and-tomorrow-container div.entity-container div.progress-bar.stripes span {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom,
            color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
            color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
            to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
            transparent 75%, transparent);

  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
