<script type="text/javascript">
        // wait for the DOM to be loaded
        $(document).ready(function() {
            var stickyNotes = new IADAStickyNotes({
                container: 'note-container',
            	backend_url: '<%= organisation_stickies_for_resource_path(current_organisation, resource_name, resource_id) %>',
            	current_author: {
            		author_id: <%= current_user.id %>,
            		author_name: '<%= current_user.instance_name %>',
            	},
                placeholder: '<%= t('.note_placeholder') %>',
            });
        });
</script>

<div id="note-container">
    <div class="control-container clearfix">
        <button class="new-sticky">Add Note</button>
    </div>
    <div class="notes"></div>
</div>

<div id="note-template">
    <div class="note-head">
      <div class="inner clearfix">
        <p class="author"></p>
        <p class="created_at"></p>
        <a class="delete-button icon icon-remove"></a>
      </div>
    </div>
    <div class="note-text"><textarea></textarea></div>
    <a class="save-button icon icon-ok"></a>
</div>