<div id="note-container" data-resource-class-name="<%= resource.class.name %>" data-resource-id="<%= resource.id %>">
  <div class="control-container clearfix">
    <button class="new-sticky">Add Note</button>
  </div>
  <div class="notes"></div>
</div>

<div id="note-template">
  <div class="note-head">
    <div class="inner clearfix">
    <p class="author"></p>
    <p class="created_at"></p>
    <a class="delete-button icon icon-remove"></a>
    </div>
  </div>
  <div class="note-text"><textarea></textarea></div>
  <a class="save-button icon icon-ok"></a>
  <p class="saved_notification"><%=t('.saved') %></p>
  <img class="ajax_wait" src="/assets/ajax_wait.gif" />
</div>