html.js #below-header {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#main-area {
  background-color: #eee;
}

html.js #main-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ccc;
  border-top: 1px solid #f9f9f9;
}

html.js.not-logged-in #main-area {
  box-shadow: none;
}

#content-area {
  overflow: auto !important;
  > .inner {
    position: relative;
  }
}

html.js #content-area {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

html.js.not-logged-in {
  overflow: auto;
  #below-header,
  #main-area,
  #content-area {
    position: static;
  }

  #content,
  #page-title {
    text-align: center;
  }

  #content > .inner {
    display: inline-block;
    text-align: left;
  }

  #logo-container {
    display: block;
  }
}

#content {
  margin: 0 0 20px;
  background: #fff;
  > .inner {
    padding: 40px;
    position: relative;
  }
}

#notice {
  color: #008000;
}

#error-explanation {
  display: inline-block;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #ff3520;
  color: #fff;

  .error-head {
    font-weight: bold;
    font-size: 1.1em;
    margin: -10px -10px 0;
    padding: 5px 10px;

    i {
      margin-right: 10px;
      font-size: 1.3em;
      vertical-align: middle;
    }
  }

  a {
    color: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0.9em;

    > li {
      list-style: square inside;
    }
  }
}

#logo-container {
  background-color: #fff;
  padding: 20px;
  display: none;
  text-align: center;
}

#logo-container-inner {
  position: relative;
  display: inline-block;
  width: 420px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  width: 100%;
}
