#main-area {
  background-color: #eee;
}

html.js.logged-in {
  #main-area {
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
    border-left: 1px solid #ccc;
    border-top: 1px solid #f9f9f9;
  }
}

html.js.not-logged-in {
  #below-header {
    box-shadow: none;
  }

  #content,
  #page-title {
    text-align: center;
  }

  #content > .inner {
    display: inline-block;
    text-align: left;
  }

  #local-menu, &.flexbox #local-menu {
    display: none;
  }
}

#content {
  margin: 0 0 20px;
  background: #fff;
}

#content {
  > .inner {
    padding: 1.5%;
    position: relative;
  }
}

#notice {
  color: #008000;
}

#error-explanation {
  display: inline-block;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #ff3520;
  color: #fff;
}

#error-explanation {
  .error-head {
    font-weight: bold;
    font-size: 1.1em;
    margin: -10px -10px 0;
    padding: 5px 10px;

    i {
      margin-right: 10px;
      font-size: 1.3em;
      vertical-align: middle;
    }
  }

  a {
    color: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

  ul {
    > li {
      list-style: square inside;
    }
  }
}

#logo-container {
  background-color: #fff;
  padding: 40px;
}

#logo-container-inner {
  position: relative;
  display: block;
  width: 416px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  width: 100%;
}

#search-shortcut {
  float: right;
  color: #ff3520;
  font-weight: bold;
  margin-left: 1em;
}

#search-shortcut {
  span {
    color: #444;
    font-weight: normal;
  }
}
