div#documents-container {
  div.upload-document-fields {
    display: block;
    clear: both;
    margin: 20px;
  }

  div.upload-document-fields-wrapper {
    position: relative;
    background-color: #eee;
    padding: 20px;
    display: inline-block;
  }

  div.upload-document-fields-wrapper {
    a.action-button {
      position: absolute;
      right: -.75em;
      top: -.75em;
    }
  }

  div.document {
    width: 150px;
    height: 212px;
    position: relative;
    float: left;
    margin: 12px;
    background-color: #fff;
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  }

  div.document {
    > a.document-link {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      color: #1c9cb2;
      text-decoration: none;
      background-color: #fff;
      background-position: center center;
      &:hover + a.document-info {
        background-color: #1c9cb2;
        height: 50%;
      }
      .document-extension {
        background-color: #eee;
        display: block;
        box-sizing: border-box;
        position: absolute;
        padding: 0.2em 0.4em;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.2s;
        border-radius: 0 0 0.5em 0;
      }
    }

    .document-info {
      position: absolute;
      display: block;
      text-decoration: none;
      bottom: 0;
      width: 100%;
      height: 4.8em;
      max-height: 100%;
      background-color: rgba(#1c9cb2 , .8);
      color: #fff;
      padding: 0.4em;
      box-sizing: border-box;
      transition: 0.3s;
      &:hover {
        background-color: #1c9cb2;
        height: 50%;
      }
    }

    .document-info {
      .filename, .created_at, .created_by {
        display: block;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.4em;
      }

      .filename {
        font-weight: bold;
      }

      .created_at, .created_by {
        font-size: 0.9em;
      }
    }

    a.action-button {
      position: absolute;
      right: -.75em;
      top: -.75em;
      height: 1em;
      width: 1em;
      cursor: pointer;
    }
  }
}
