div#entity-type-form {
  div.field-icon-select label {
    float: left;
    border: 2px solid #ccc;
    display: block;
    margin: 5px;
    padding: 70px 10px 10px;
    background-position: center 10px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    max-width: 100px;
    cursor: pointer;
  }

  div.field-icon-select label.active {
      border: 2px solid #1c9cb2;
  }

  div.field-icon-select input[type="radio"] {
    float: left;
    width: 40px;
    height: 40px;
    display: none;
  }
}
