#new_feedback_popup {
  h2 {
    margin: 0;
    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 0.5em;
      font-size: 1.2em;
    }
  }

  div.feedback-status,
  div.feedback-review {
    position: relative;
  }

  div.feedback-status {
    background-image: image-url('ajax_wait.gif');
    background-position: center center;
    background-repeat: no-repeat;
  }

  #creating_screenshot,
  #feedback-error,
  #feedback-success,
  #feedback-error-explain,
  #feedback-success-explain {
    visibility: hidden;
  }

  #creating_screenshot {
    text-align: center;
  }

  #feedback-intro {
    width: 400px;
  }

  #feedback-message {
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    clear: both;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #feedback-message-summary {
    clear: both;
    font-style: italic;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    min-height: 20px;
    max-width: 480px;
  }

  #feedback-message-summary {
    #edit-feedback-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .feedback-tech-info {
    max-width: 500px;
    line-height: 110%;
  }

  .feedback-tech-info {
    h4 {
      margin: 0;
    }

    #tech-info-summary {
      font-size: 0.8em;
    }
  }

  #screenshot_preview {
    width: 100%;
  }

  .feedback-screenshot-wrapper {
    max-height: 300px;
    overflow: auto;
    max-width: 500px;
    margin: 20px 0;
  }

  button.feedback-button {
    clear: both;
    float: right;
    margin: 10px 0 0 10px;
  }
}

html.backgroundsize.smil {
  #new_feedback_popup {
    div.feedback-status {
      background-image: image-url('ajax_wait.svg');
      background-size: 100px 100px;
    }
  }
}

td.feedback_message,
td.feedback_specs {
  p {
    height: 50px;
    width: 300px;
    overflow: hidden;
    word-wrap: nowrap;
    text-overflow: ellipsis;
  }
}
