#header {
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  position: relative;
  z-index: 199;
}

html.js #header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

html.js.csstransforms #header {
  transform: translate(0, -100%);
}

/* Search */

form.mini-search {
  float: right;
  vertical-align: middle;
  input[type="submit"] {
    margin-left: 20px;
  }
}

#local-menu form.mini-search input[type="submit"] {
  margin-left: 10px;
}

#search-bar {
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  > .inner {
    padding: 15px 0;
  }
  input[type="submit"] {
    margin-left: 10px;
  }
}

#global_search_query {
  width: 30%;
  vertical-align: middle;
}

#open-feedback-button {
  display: inline-block;
  font-size: 1em;
  line-height: 200%;
  margin: 5px 5px 4px 5px;
  padding: 0 10px;
}

#open-search-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.7em 0.9em;
  line-height: 100%;
  border-radius: 0 0 9999px 9999px;
  margin-left: 8px;
  vertical-align: top;
  &.open {
    background-color: #fff;
    color: #1c9cb2;
  }
}

div#progress-bar-container {
  position: absolute;
  top: 100%;
  margin-top: -7px;
  width: 100%;
}
