div.info-screen-entity-type {
  border: 2px solid #ccc;
  margin: 10px;
}

div.info-screen-entity-type {
  h3.collapse,
  h4.collapse {
    width: 100%;
    padding: 5px;
    background-color: #ddd;
    color: #444;
    margin: 0;
    box-sizing: border-box;
  }

  h3.collapse,
  h4.collapse {
    a {
      width: 100%;
      color: #444;
      text-decoration: none;
      outline: none;
      display: block;
    }

    span.active-sign {
      display: inline-block;
      width: 30px;
      padding: 5px;
      height: 100%;
      background-color: #ff3520;
      margin-right: 10px;
    }

    span.active-sign {
      &.active {
        background-color: #18c13d;
      }
    }
  }

  div.content {
    margin: 10px;
  }

  div.info-screen-entity {
    border: 2px solid #ccc;
    margin: 10px;
  }

  div.info-screen-entity {
    div.direction-chars {
      float: right;
    }

    div.direction-chars {
      label.direction-char-label {
        display: block;
      }
    }

    .wayfinding {
      font-size: 2em;
      width: 50px;
      height: 50px;
      text-align: center;
      background-color: #e3e3e3;
      color: #17889d;
      padding: 0.25em;
      float: left;
      position: relative;
      margin: 5px;
      cursor: pointer;
      border: 5px solid #e3e3e3;
      box-sizing: border-box;
    }

    .wayfinding {
      &.active {
        border: 5px solid #ff3520;
      }
    }
  }
}

@media (max-width: 1200px) {
  #realtime-list > li > .inner .reservation-dates .datebox .date .day {
    display: none;
  }

  body.controller-info_screens.action-show #content {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  body.controller-info_screens.action-show #content {
    font-size: 0.8em;
  }
}

@media (max-width: 900px) {
  body.controller-info_screens.action-show #content {
    font-size: 0.7em;
  }
}

@keyframes reservation-dates {
  0% {
    bottom: 0;
  }
  43.5% {
    bottom: 0;
  }
  56.5% {
    bottom: 100%;
  }
  100% {
    bottom: 100%;
  }
}
