/* Main menu */

a#collapse-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 27px;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  margin-top: .6em;
  font-size: 14px;
  text-decoration: none;
  color: #eee;
  background-color: #ccc;
  border-radius: 0 9999px 9999px 0;
  text-indent: -0.25em;
}

#menu-bar {
  position: relative;
  background: #ff3520;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  border-bottom: 7px solid #fff;
  color: #fff;
}

#menu-main-area {
  display: inline-block;
}

#menu-secondary-area {
  float: right;
}

#menu-bar i[class^="icon-"],
#menu-bar i[class*=" icon-"] {
  vertical-align: baseline;
  font-size: 1em;
  position: relative;
  bottom: -0.12em;
  margin: 0 0.2em 0 0;
}

#user-info {
  display: inline-block;
  margin: 0 0 -1px 0;
  position: relative;
}

#main-menu,
#user-menu {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  > li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0;
  }
}

#main-menu > li > a,
#user-menu .section ul > li > a,
#user-info a {
  display: block;
  padding: 0.7em 0.9em;
  color: #fff;
  text-decoration: none;
}

#main-menu > li {
  > a {
    border-bottom: 7px solid transparent;
    margin-bottom: -7px;
    position: relative;
    z-index: 2;
    transition: 0.2s ease-in-out;
  }

  &.cwic-logo {
    width: 120px;
  }

  &.cwic-logo {
    > a {
      display: block;
      background-position: center center;
      background-size: 75px auto;
      background-repeat: no-repeat;
      background-image: image-url('logo_in_app.png');
    }

    > a:before {
      content: '\a0';
      display: inline;
    }

    &.active {
      > a {
        background-image: image-url('logo_in_app_active.png');
      }
    }
  }

  &.selected {
    > a {
      border-color: #1c9cb2;
    }
  }

  &.active {
    background-color: #fff;
  }

  &.active {
    > a {
      color: #ff3520;
    }

    &.selected {
      &:after {
        border-top-color: #ff3520;
      }
    }
  }
}

#main-menu > li > a:hover,
#user-menu .section ul > li > a:hover {
  background-color: rgba(255,255,255,0.1);
}

#user-menu {
  display: none;
  position: absolute;
  margin: 0;
  top: 100%;
  right: 0;
  min-width: 14em;
  z-index: 22;
  background: #e3e3e3;
  color: #444444;
  text-align: left;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  .user-menu-section-title {
    margin: 0;
    padding: 0.7em 0.9em;
    font-size: 1em;
    font-weight: bold;
    background-color: #ccc;
  }
  .section ul {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      > a {
        color: inherit;
        > i.icon {
          width: 20px;
          display: inline-block;
          color: #1c9cb2;
        }
      }
      &.selected {
        background-color: #1c9cb2;
        > a {
          color: #fff;
          &:hover {
            background-color: transparent;
          }
          > i.icon {
            color: inherit;
          }
        }
      }
    }
  }
}

#user-info:hover #user-menu {
  display: block;
}

/* Submenu */

#submenu-box {
  background-color: #ddd;
  color: #444;
  text-align: center;
  background-image: image-url("logo_transp.png");
  background-repeat: no-repeat;
  background-position: left bottom; /* fallback for older browsers */
  background-position: left bottom -50px;
  background-size: 300px auto;
}

#submenu-box {
  > .submenu {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 20px;
    margin: 0;
  }

  > .submenu {
    > h3 {
      margin: 1em 0.6em 0.3em;
      padding: 0.25em 0;
      font-size: 1.5em;
      font-weight: 700;
    }

    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    > ul {
      > li {
        display: block;
        padding: 0;
        margin: 0;
      }

      > li {
        &.active {
          a {
            background-color: #1c9cb2;
            color: #fff;
            text-decoration: none;

            &:hover {
              background-color: #1c9cb2;
            }

            i {
              color: #fff;
            }
          }
        }

        a {
          display: block;
          padding: 0.7em 0.9em;
          margin-right: -20px;
          text-decoration: none;
          transition: background-color 0.1s;
          color: #444;
        }

        a {
          &:hover {
            background-color: rgba(255,255,255,.2);
          }

          i {
            display: inline-block;
            width: 1.5em;
            vertical-align: middle;
            color: #1c9cb2;
          }
        }
      }
    }
  }
}

html.js #submenu-box {
  > .submenu {
    display: none;
    width: 260px;
    vertical-align: baseline;

    &.selected {
      display: block;
    }
  }
}

/* Local menu */

#local-menu {
  background-color: #fff;
  padding: 0 0.5em 0 1em;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  border-bottom: 1px solid #ddd;
  .button {
    margin: 0.4em 0;
    padding: 0.6em 0.8em;
    + .button, + .control-container {
      margin-left: 5px;
    }
  }
}

html.js body[data-current-user-id=''] #local-menu {
  display: none;
}

#local-menu .navigation-actions,
#local-menu .context-actions,
#local-menu .page-actions {
  width: 33.333%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.6em;
  display: block;
  position: relative;
  float: left;
  min-width: 250px;
  > .inner {
    padding: 0.3em 0;
  }
}

#local-menu .context-actions {
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  input[type="submit"], input[type="reset"], button, .button {
    margin-right: 0.2em;
  }
}

#local-menu .page-actions {
  text-align: right;
}

#under-local-menu {
  padding: 0 1.5%;
  background-color: #fff;
}

html.logged-in.flexbox, html.logged-in.js.flexbox {
  #local-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

    &.clearfix:after {
      display: none;
    }

    .navigation-actions, .context-actions, .page-actions {
      width: auto;
      flex: 0 0 auto;
    }
  }
}

/* Pagination and tabs */

.pagination {
  :after {
    display: block;
    content: '.';
    height: 0;
    visibility: hidden;
    clear: both;
  }
  > span {
    float: left;
    display: block;
    border: 1px solid #ccc;
    line-height: 100%;
    margin-left: -1px;
    &:first-child {
      margin-left: 0;
    }
    &.gap, &.current, a {
      padding: 0.7em 0.9em;
    }
    &.gap {
      border: 0 none;
    }
    &.current {
      background-color: #1c9cb2;
      border-color: #1c9cb2;
      color: #fff;
      + span {
        border-left-color: #1c9cb2;
      }
    }
    a {
      display: block;
      color: inherit;
      text-decoration: none;
      &:hover {
        background-color: #f3f3f3;
        color: #1c9cb2;
      }
    }
  }
}

.nav a.with-errors:before {
  margin: 0 5px 0 0;
  vertical-align: middle;
  color: #ff3520;
}

.nav .ui-state-active a.with-errors:before {
  color: inherit;
}
