.nested-object-wrapper {
  font-size: 0.9em;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;

  div.view, div.form {
    position: relative;
  }

  div.form {
    display: none;
  }

  div.horizontal-block {
    float: left;
    vertical-align: top;
    margin: 10px 20px 10px 0;
    max-width: 350px;
  }

  div.actions {
    float: right;

    a.icon {
      margin-left: 2px;
    }
  }
}
