div.occupation-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 20px 0;
}

div.occupation-container {
  div.cwic-sticky-container {
    margin-left: 4%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  div.entity-axis {
    position: relative;
    float: left;
    width: 4%;
    height: 100%;
    overflow: hidden;
  }

  div.entity-axis {
    div.entity-row {
      position: relative;
      overflow: hidden;
      width: 100%;
      text-align: center;
      margin: 30px 0;
      box-sizing: border-box;
    }

    div.entity-row {
      img.entity-icon {
        max-height: 80%;
        margin: 10%;
        max-width: 80%;
        border: 2px solid #fff;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }

  div.occupation-matrix-body {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  div.occupation-matrix-body {
    div.entity-row-title {
      height: 30px;
    }

    div.entity-row-title {
      p.entity-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-size: 1em;
        margin: 0;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
      }
    }

    div.occupation-matrix-row {
      border: 1px solid #ccc;
      margin: 0;
    }

    div.occupation-matrix-row {
      a.occupation-matrix-block {
        position: relative;
        float: left;
        width: 50px;
        overflow: hidden;
        border-left: 1px solid #e5ffe5;
        box-sizing: border-box;
        cursor: pointer;
      }

      a.occupation-matrix-block {
        p.percent {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          font-size: 75%;
          color: #333;
        }

        &:first-child {
          border: none;
        }
      }
    }
  }
}

div.occupation-view-sticky {
  p {
    margin: 0;
    padding: 0;
  }

  div.top-axis {
    position: relative;
    height: auto;
    background-color: #fff;
    z-index: 10;
    border-bottom: 2px solid #ccc;
    margin-bottom: -1px;
  }

  div.top-axis {
    p.axis-part-name {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 120%;
      margin: 0;
    }

    div.top-axis-frame {
      position: relative;
      float: left;
      height: 100%;
      text-align: center;
      font-weight: bold;
      box-sizing: border-box;
    }
  }
}
