div.address-map {
	width: 400px;
	height: 400px;
	position: relative;
	float: left;
	padding: 10px;
	margin-left: 40px;
	border: 1px solid #ccc;
}

div.auto-address-fields {
	position: relative;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

div.auto-address-fields input[readonly="readonly"]
{
    background-color: #eee;
}

a#edit-auto-address-fields {
	position: absolute;
	right: 10px;
	top: 10px;
	outline: none;
}
