div.tag-list {
  background-color: #fff;
  margin-bottom: 40px;
}

div.tag-list {
  div.tag-list-label {
    position: relative;
    background-color: #1c9cb2;
    display: inline-block;
    height: 100%;
    color: #fff;
    float: left;
    padding: 0.3em 0.8em;
    margin: 0 6px 4px 0;
  }
  
  div.tag-list-label:after{
    position: absolute;
    content: '\0a';
    width: 0;
    height: 0;
    left: 100%;
    top: 50%;
    margin-top: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #1c9cb2;
  }

  a.tag {
    display: block;
    padding: 0.3em 0.8em;
    float: left;
    background-color: #f3f3f3;
    color: #1c9cb2;
    text-decoration: none;
    margin: 0 4px 4px 0;
  }
}

div.tags-field {
  width: auto;
  display: block;
  margin-bottom: 40px;
}

div.tags-field {
  ul.select2-choices {
    border-color: #e1e1e1;
    background-image: none;
  }

  ul.select2-choices {
    li.select2-search-field input {
      font-size: 1.3em;
      padding: 0.15em 0.8em;
      margin: 2px 0;
    }
    
    li.select2-search-choice {
      background-color: #f3f3f3;
      color: #1c9cb2;
      padding: 0.3em 0.8em 0.3em 18px;
      margin: 2px;
      .select2-search-choice-close {
        top: 50%;
        margin-top: -6.5px;
      }
    }

    li.select2-search-field input,
    li.select2-search-choice {
      background-image: none;
      border: none;
      border-radius: 0;
      line-height: normal;
      box-shadow: none;
    }
  }
}
