div.today-and-tomorrow-container {
  div.entity-type-container {
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  div.entity-type-container {
    h2 {
      margin: 0 20px 0 10px;
      display: inline-block;
      vertical-align: middle;
    }

    img.entity_type_icon {
      margin: 10px 10px 10px 0;
      vertical-align: middle;
      height: 30px;
    }

    div.entities-container {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      margin-left: -20px;
    }

    div.entities-container {
      div.entity {
        flex: 1 1 450px;
        position: relative;
        padding: 0 5px 5px;
        background: #f3f3f3;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        margin: 10px 0;
        margin-left: 20px;
      }

      div.entity {
        p {
          margin: 0;
          padding: 0;
        }

        p.entity-name {
          position: relative;
          margin: 0 -5px;
          background-color: #ddd;
          padding: 0 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }

        p.no-reservations {
          text-align: center;
          font-size: 100%;
          margin: 5px 0;
        }

        .updated-info {
          margin-top: 10px;
        }

        div.entity-description {
          font-size: 0.86em;
          border-bottom: 1px solid #bbb;
          margin-bottom: 10px;
          margin-top: -1px;
          padding: 6px 10px 5px;
          font-style: italic;
          color: #666;
          height: auto;
          display: none;
          overflow: hidden;
        }

        div.progress-bar-container {
          position: relative;
          background-color: #f7f7f7;
          border: 1px solid #999;
          height: 10px;
          padding: 2px;
          margin: 5px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .6) inset;
          line-height: 10px;
        }


        div.progress-bar-container {
          div.day-separator {
            display: block;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            background-color: #aaa;
          }

          span {
            display: inline-block;
            height: 100%;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
            -webkit-transition: width 0.5s ease-in-out;
            -moz-transition: width 0.5s ease-in-out;
            -ms-transition: width 0.5s ease-in-out;
            -o-transition: width 0.5s ease-in-out;
            transition: width 0.5s ease-in-out;
          }
        }

        div.reservation-next {
          p.reservation-line {
            span.time {
              margin-right: 5px;
              padding-right: 5px;
              border-right: 1px solid #666;
              font-size: 80%;
              font-weight: bold;
            }
          }

          h4 {
            margin: 0;
            text-align: center;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-size: 120%;
            line-height: 120%;
          }
        }

        div.reservation-now {
          padding-bottom: 10px;
        }

        div.reservation-separator {
          border-top: 1px dashed #ccc;
          height: 0;
        }

        div.reservation-now {
          p.reservation-description {
            margin: 0 auto;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          div.time-info,
          div.date-info {
            position:relative;
            height: 10px;
            font-size: 0.8em;
            line-height: 10px;
          }

          div.date-info {
            display: none;
          }

          div.date-info,
          div.time-info {
            div.begin-time,
            div.begin-date {
              float: left;
            }
            div.end-time,
            div.end-date {
              float: right;
            }
          }
        }
      }
    }
  }
}
