<% if notice %>
  <div class="flash_messages notice">
    <%= notice %>
  </div>
<% end %>
<% if warning %>
  <div class="flash_messages warning">
    <%= warning %>
  </div>
<% end %>
<% if alert %>
  <div class="flash_messages alert">
    <%= alert %>
  </div>
<% end %>
