#local-menu.clearfix
  .navigation-actions
    = content_for?(:local_menu_navigation) ? yield(:local_menu_navigation) : ''
  .context-actions
    = content_for?(:local_menu_context) ? yield(:local_menu_context) : ''
  .page-actions
    = content_for?(:local_menu_page) ? yield(:local_menu_page) : ''
