<div id="local-menu" class="clearfix">
  <div class="navigation-actions">
    <%= content_for?(:local_menu_navigation) ? yield(:local_menu_navigation) : '' %>
  </div>
  <div class="context-actions">
    <%= content_for?(:local_menu_context) ? yield(:local_menu_context) : '' %>
  </div>
  <div class="page-actions">
    <%= content_for?(:local_menu_page) ? yield(:local_menu_page) : '' %>
  </div>
</div>
