= form_tag(nil, method: :get, class: 'mini-search' + (local_assigns[:include_date] ? ' with-date' : '')) do
  = params_to_hidden_fields(:date_domain_from, :date_domain_to, :mini_search)

  - if local_assigns[:include_date] && :include_date
    = text_field_tag(:date_domain_from, params[:date_domain_from], placeholder: t('.date_domain_from_placeholder'), id: 'date_domain_from', class: 'datepicker-field with-clear', onchange: "this.form.submit();")
    = text_field_tag(:date_domain_to, params[:date_domain_to], placeholder: t('.date_domain_to_placeholder'), id: 'date_domain_to', class: 'datepicker-field with-clear', onchange: "this.form.submit();")

  = text_field_tag(:mini_search, params[:mini_search], placeholder: t('.search_' + current_search_type.to_s.downcase + '_placeholder'))
  = submit_tag(t('.search'), class: 'button')
