doctype html

html class=("no-js " + (user_signed_in? ? 'logged-in' : 'not-logged-in')) lang=I18n.locale
  head
    title
      = (content_for?(:page_title) ? sanitize(yield(:page_title), tags: []) : t('default_title')) + " | Cwic"
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = jquery_include_tag :google
    = jquery_ui_include_tag :google
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=#{I18n.locale}&sensor=false&callback=APP.global.initializeGoogleMapsFunctions", async: true
    = javascript_include_tag "websocket_rails/main" if Object.const_defined?('WebsocketRails')
    = javascript_include_tag "application", "data-turbolinks-track" => true
    meta name="viewport" content="width=device-width, user-scalable=no"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="mobile-web-app-capable" content="yes"
    = csrf_meta_tags

  body[
    class="controller-#{controller_name} action-#{action_name}"
    data-controller=controller_name
    data-action=action_name
    data-current-user-id=current_user.try(:id)
    data-current-user-name=current_user.try(:instance_name)
    data-current-organisation-id=current_organisation.try(:id)
    data-current-locale=I18n.locale
    data-websocket-url=websocket_url
  ]
    #page-wrapper
      - unless user_signed_in?
        #logo-container
          #logo-container-inner
            = link_to(root_path) do
              img.logo src=asset_path('logo.png')

      #header
        - if user_signed_in?
          = render "layouts/menu"
        #progress-bar-container

      #below-header
        - if user_signed_in?
          = render "layouts/submenu"
        #main-area
          = render "layouts/local_menu"
          #content-area
            .inner
              h1#page-title
                = content_for?(:page_title) ? yield(:page_title) : t('default_title')

              #content
                .inner.clearfix
                  = render 'layouts/flash_messages'
                  = content_for?(:content) ? yield(:content) : yield

    = render 'shared/modal'
    = render 'feedbacks/modal'
